.contentPage {
  display: block;
  height: 100%;
}

.headerSection {
  border-bottom: 1px solid grey;

  h1 {
    cursor: default;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }
}

.searchContent {
  padding-top: 132px;
  z-index: -2;
}
