.contentPage {
  display: block;
  height: 100%;
}

.headerSection {
  border-bottom: 1px solid grey;

  h1 {
    cursor: default;
    text-transform: uppercase;
  }

  a {
    color: black;
    font-weight: 900;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.searchContentWrapper {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 15px;
  z-index: -2;
}
.searchContent {
}

.contentPageButton {
  left: 50%;
  transform: translateX(-50%);
}
