.contentPage {
  position: relative;
  display: block;
  height: 100%;
  background: rgb(29, 29, 29);
  padding-left: 25px;
  padding-right: 25px;

  display: grid;
  grid-template-areas:
    "contentHeader"
    "filterBolts"
    "filter"
    "content";
  grid-template-rows: min-content min-content min-content 1fr;
  grid-template-columns: 1fr;
}

.verticalText {
  z-index: 0;
  position: fixed;
  color: rgba(253, 246, 246, 0.057);
  text-transform: uppercase;
  transform: rotate(90deg) translateY(0px);
  overflow: hidden;
  font-weight: 900;
  font-size: 200px;
  top: 790px;
  left: -460px;
  cursor: default;
}

.filteredContent {
  grid-area: content;
  width: 100%;
  padding-top: 25px;
  padding-left: 4px;
  padding-right: 4px;
}

.loadingFilteredContent {
}
