#EmailUpdate {
  img {
    background-position: center;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

#EmailUpdate::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgb(0, 0, 0) 100%
  );
}

.emailUpdateWrapper {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .headerWrapper {
    width: 290px;
    h1 {
      font-size: 38px;
      color: white;
      white-space: nowrap;
      text-align: center;
    }
    .underliner {
      margin-top: 5px;
      margin-bottom: 50px;
    }
  }

  .content {
    color: white;
    text-align: center;
    max-width: 500px;
    margin: 0px 15px;
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 50px;
  }

  .emailUpdateBtnModification {
    cursor: pointer;
    div {
      background: rgb(38, 62, 105);
      border-radius: 5px;
    }
  }
  .emailUpdateBtnHover {
    background: rgb(10, 21, 88) !important;
  }
}
