.Login {
  position: relative;
  max-width: $maxWidth;
  overflow-x: hidden;

  @include minHeightWidth;
  img {
    position: absolute;
    background-position: center;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

//WRAPPERS
.loginFormWrapper {
  position: absolute;
  width: 100%;
  height: 100%;

  form {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: min-content;

    display: grid;

    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "subtitle" "username" "password" "button" "link" "link2";

    @include mq($from: tablet) {
      grid-template-rows: min-content min-content min-content min-content min-content;
      grid-template-columns: min-content min-content;
      grid-template-areas:
        "header header"
        "subtitle subtitle"
        "username password"
        "button button"
        "link link"
        "link2 link2";
    }
    align-items: center;
    justify-items: center;
    column-gap: 20px;
  }
}

.changeFormWrapper {
  position: absolute;
  display: none;
  opacity: 0;
  width: 100%;
  height: 100%;

  form {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: min-content;
    display: grid;

    grid-template-rows: min-content min-content min-content min-content min-content min-content;
    grid-template-columns: min-content;
    grid-template-areas: "header" "subtitle" "email" "button" "link1" "link2";

    align-items: center;
    justify-items: center;
    column-gap: 20px;
  }
}

.registrationFormWrapper {
  display: none;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  .registerFormWrapper {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content;
    grid-template-areas: "header" "subtitle" "registerForm" "link1" "link2";

    max-width: 660px;

    .headerWrapper {
      margin-left: auto;
      margin-right: auto;
    }

    .loginRegisterForm {
      grid-area: registerForm;
      width: unset;
    }

    .loginLink {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
//

.headerWrapper {
  color: $textContrastColor;
  white-space: nowrap;
  margin-bottom: 10px;
  grid-area: header;
}

.subtitle {
  grid-area: subtitle;
  color: $textContrastColor;
  margin-bottom: 30px;
  font-size: 17px;
  justify-self: center;
}

.usernameInput {
  width: 300px !important;

  @include mq($from: 470px) {
    width: 400px !important;
  }

  @include mq($from: tablet) {
    width: 320px !important;
  }
  grid-area: username;
}

.passwordInput {
  width: 300px !important;

  @include mq($from: 470px) {
    width: 400px !important;
  }
  @include mq($from: tablet) {
    width: 320px !important;
  }
  grid-area: password;
}

.loginLink {
  color: $textContrastColor;
  cursor: pointer;
  text-decoration: underline;
  font-size: 15px;

  @include mq($from: 470px) {
    font-size: 17px;
  }
  margin-top: 30px;
  grid-area: link;
  transition: color 150ms ease-out;
}

.loginLink:hover {
  color: $linkAlternativeHover;
}

.changeLink {
  grid-area: link;
}

.loginRedirectLink {
  grid-area: link1;
}
.registerLink {
  grid-area: link2;
}

.loginFormButton {
  margin-top: 0px !important;
  grid-area: button;
}

.changeInput {
  width: 350px !important;

  @include mq($until: 430px) {
    width: 320px !important;
  }

  @include mq($from: 490px) {
    width: 400px !important;
  }

  grid-area: email;
}

.changeSubmitFormButton {
  margin-top: 0px !important;
  grid-area: button;
}
