.Login {
  img {
    background-position: center;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

.Login::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}
.loginHeaderWrapper {
  cursor: default;

  h2 {
    color: white;
  }
}

.forgetPassword::after {
  position: absolute;
  content: " ";
  height: 1px;
  width: 142px;
  background: white;

  margin-top: 18px;
  left: 50%;
  transform: translateX(-50%);

  transition-property: width;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
}

.forgetPassword:hover:after {
  width: 0px;
}
