.Login {
  position: relative;
  max-width: $maxWidth;
  overflow-x: hidden;

  @include minHeightWidth;
  img {
    position: absolute;
    background-position: center;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

//WRAPPERS
.loginFormWrapper {
  position: absolute;
  width: 100%;
  height: 100%;

  form {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: min-content;

    display: grid;

    grid-template-rows: min-content min-content min-content min-content min-content;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "username" "password" "button" "link";

    @include mq($from: tablet) {
      grid-template-rows: min-content min-content min-content min-content;
      grid-template-columns: min-content min-content;
      grid-template-areas:
        "header header"
        "username password"
        "button button"
        "link link";
    }
    align-items: center;
    justify-items: center;
    column-gap: 20px;
  }
}

.changeFormWrapper {
  position: absolute;
  display: none;
  left: 100%;
  opacity: 0;
  width: 100%;
  height: 100%;

  form {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: min-content;
    display: grid;

    grid-template-rows: min-content min-content min-content;
    grid-template-columns: min-content min-content;
    grid-template-areas: "header header" "email email" "button backButton";

    align-items: center;
    justify-items: center;
    column-gap: 20px;
  }
}

//

.headerWrapper {
  color: $textContrastColor;
  white-space: nowrap;
  margin-bottom: 30px;
  grid-area: header;
}

.usernameInput {
  width: 300px !important;

  @include mq($from: 470px) {
    width: 400px !important;
  }

  @include mq($from: tablet) {
    width: 320px !important;
  }
  grid-area: username;
}

.passwordInput {
  width: 300px !important;

  @include mq($from: 470px) {
    width: 400px !important;
  }
  @include mq($from: tablet) {
    width: 320px !important;
  }
  grid-area: password;
}

.changeLink {
  color: $textContrastColor;
  cursor: pointer;
  text-decoration: underline;
  font-size: 15px;
  @include mq($from: 470px) {
    font-size: 17px;
  }
  margin-top: 30px;
  grid-area: link;
}

.loginFormButton {
  margin-top: 0px !important;
  grid-area: button;
}

.changeInput {
  width: 350px !important;

  @include mq($until: 430px) {
    width: 320px !important;
  }

  @include mq($from: 490px) {
    width: 400px !important;
  }

  grid-area: email;
}

.changeSubmitFormButton {
  margin-top: 0px !important;
  width: 165px !important;

  @include mq($until: 430px) {
    width: 150px !important;
  }

  @include mq($from: 490px) {
    width: 190px !important;
  }

  grid-area: button;
  justify-self: end;
}

.changeBackFormButton {
  margin-top: 0px !important;
  width: 165px !important;

  @include mq($until: 430px) {
    width: 150px !important;
  }

  @include mq($from: 490px) {
    width: 190px !important;
  }

  grid-area: backButton;
  justify-self: start;
}
