////////////////////////////////////////////////////////
//CROSSROAD LAYOUT//
#Crossroad {
  max-width: $maxWidth;

  #crossroadSectionWrapper {
    @include mq($from: desktop) {
      display: grid;
      grid-template-columns: 1fr 10px 1fr;
      grid-template-areas: "fitnessSection divider coachSection";
    }
  }
}

#FitnessSection {
  @include mq($from: desktop) {
    grid-area: fitnessSection;
  }
  .layer {
    grid-template-rows: 90px 1fr 3fr 1fr 90px;
    grid-template-areas:
      "."
      "header"
      "paragraph"
      "button"
      ".";
  }
}

#divider {
  display: none;

  @include mq($from: desktop) {
    grid-area: divider;
    display: initial;
  }
}

#CoachSection {
  .layer {
    grid-template-rows: 90px 1fr 3fr 1fr 90px;
    grid-template-areas:
      "."
      "header"
      "paragraph"
      "button"
      ".";
  }
}

#RegisterSection {
  max-width: $maxWidth;
  @include minHeightWidth;

  .layer {
    display: grid;
    grid-template-rows: 1fr 55px min-content min-content 1fr;
    grid-template-areas:
      "."
      "header"
      "paragraph"
      "form"
      ".";
  }
}

.registerHeaderWrapper {
  h2 {
    font-size: clamp(18px, 7vw, 40px);
  }
  grid-area: header;
}
.registerParagraph {
  font-size: clamp(15px, 3vw, 17px);
  margin-bottom: 50px;
  padding-top: 20px;
  grid-area: paragraph;
}
.registerFormWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-self: center;

  width: 70%;
  grid-area: form;

  @include mq($from: tablet) {
    #registerForm {
      display: grid;
      column-gap: 15px;
      row-gap: 10px;
      grid-template-rows: 1fr 1fr min-content 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "input1 input2"
        "input3 input3"
        "formTerms formTerms"
        "button button";
    }
    width: 85%;
    max-width: 900px;

    .input1 {
      grid-area: input1;
    }
    .input2 {
      grid-area: input2;
    }
    .input3 {
      grid-area: input3;
    }
  }
}

#registerForm {
  .inputWrapper:nth-child(1) {
    @include mq($from: tablet) {
      padding-right: 10px;
      grid-area: input1;
    }
  }
  .inputWrapper:nth-child(2) {
    @include mq($from: tablet) {
      padding-left: 10px;
      grid-area: input2;
    }
  }
  .inputWrapper:nth-child(3) {
    @include mq($from: tablet) {
      grid-area: input3;
    }
  }
}

.formTerms {
  grid-area: formTerms;

  @include mq($from: tablet) {
    width: 320px;
    font-size: 15px;
  }
}

.registerFormButton {
  @include mq($from: tablet) {
    grid-area: button;
  }
}
