////////////////////////////////////////////////////////
//FOOTER//
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq($until: tablet) {
    section {
      left: unset;
      transform: unset;
    }
  }
  @include mq($from: tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 60px;
    grid-template-areas:
      "section1 section2 section3"
      "copyright copyright copyright";
    align-items: start;
  }
}
.followUs {
  .logoWrapper {
    display: flex;
    justify-content: center;
  }

  @include mq($from: tablet) {
    grid-area: section1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.other {
  @include mq($from: tablet) {
    grid-area: section2;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gymtour {
  @include mq($from: tablet) {
    grid-area: section3;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
}
.copyRight {
  @include mq($from: tablet) {
    grid-area: copyright;
    margin-left: auto;
    margin-right: auto;
  }
}
