.settings {
  .settingsText {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .settingsForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  #changePasswordForm {
    @include mq($from: 1200px) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;

      .buttonWrapper {
        button {
          position: relative;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
