@mixin minHeightWidth {
  min-height: $minHeight;
  min-width: $minWidth;
}

@mixin stretchBasePages {
  width: 100vw;
  height: 100vh;
  @include minHeightWidth;
}

@mixin maxHeightWidth {
  width: 100%;
  height: 100%;
}

@mixin standarPage {
  position: relative;
  display: block;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  background: $standardBackground;
}

@mixin glassMorphism {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  box-shadow: inset 4px 4px 5px 0 rgba(126, 126, 126, 0.25), inset -4px -4px 5px 0 rgba(10, 10, 10, 0.125),
    0 0 10px 1px rgba(0, 0, 0, 0.25);
  background-color: rgba(67, 68, 69, 0.25);
}

@mixin overflowDots {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
