//LAYOUT COLORS//
$mainColor: black;
$minorColor1: white;
$minorColor2: #707070;
$buttonColor: #292727;
$submitButton: rgb(38, 62, 105);

//LAYOUT FONTS//
$primaryFont: "Open Sans", sans-serif;
$secondaryFont: "Times New Roman";
$basicFontSize: 1em;

//LAYOUT MAX WIDTH//
$maxWidth: 2500px;
//LAYOUT MIN HEIGHT//
$minHeight: 667px;
//LAYOUT MIN WIDTH//
$minWidth: 375px;
