//LAYOUT COLORS//
$mainColor: black;
$minorColor1: white;
$minorColor2: #707070;


//LAYOUT FONTS//
$primaryFont:'Open Sans', sans-serif;
$secondaryFont: "Times New Roman";
$basicFontSize: 1em;

//BREAKPOINTS VARIABLE//
$mobileWidth: 480px;
$tabletWidth: 768px;
$pcWidth: 1024px;