@import "../Framework/mq";

* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  font-family: $primaryFont, $secondaryFont;
  font-size: $basicFontSize;
}

h1 {
  font-size: clamp(1.602em, 8vw, 2.441em);
}
h2 {
  font-size: clamp(1.424em, 6vw, 1.953em);
}
h3 {
  font-size: clamp(1.266em, 5vw, 1.563em);
}

html,
body,
#root {
  @include stretchBasePages;
  overflow: auto;
}

#App {
  @include maxHeightWidth;
  @include minHeightWidth;
  position: relative;
}

////////////////////////////////////////////////////////
//MENU LAYOUT//
.menu {
  display: grid;
  grid-template-columns: 15px 1fr min-content 1fr 15px;
  grid-template-areas: ". . logo hamburger .";

  @include mq($from: tablet) {
    grid-template-columns: 15px min-content 1fr min-content 15px;
    grid-template-areas: ". logo . menuOffer .";
  }
}
.logoGrid {
  grid-area: logo;
}
.menuOfferGrid {
  grid-area: menuOffer;
}
.hamburgerGrid {
  grid-area: hamburger;
}
.menuOfferGrid {
  grid-area: menuOffer;
}
////////////////////////////////////////////////////////
//HOME LAYOUT//
#Home {
  display: grid;
  grid-template-rows: 50px 1fr 4fr 1fr;
  grid-template-areas:
    "."
    "pageHeader"
    "mainHeader"
    "button";
}

#pageHeader {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  grid-area: pageHeader;
}

#bigLogoWrapper {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  grid-area: mainHeader;
}

#homeHeader {
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    .headerWrapper {
      width: min-content;
      margin-left: 30px;
    }

    .headerWrapper:nth-child(1) {
      margin-right: auto;
    }
    .headerWrapper:nth-child(2) {
      margin-top: 25px;
      margin-bottom: 25px;
      margin-right: auto;
    }
    .headerWrapper:nth-child(3) {
      margin-right: auto;
    }

    @include mq($from: tablet) {
      width: 90%;

      .headerWrapper {
        width: min-content;
      }
      .headerWrapper:nth-child(1) {
        margin-right: auto;
      }
      .headerWrapper:nth-child(2) {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: auto;
        margin-left: calc((100vw / 2) - 280px);
      }
      .headerWrapper:nth-child(3) {
        margin-left: auto;
        margin-right: 0px;
      }
    }

    @include mq($from: wide) {
      width: 1170px;
      .headerWrapper:nth-child(2) {
        margin-right: auto;
        margin-left: 370px;
      }
    }
  }

  grid-area: mainHeader;
}

#homeButton {
  grid-area: button;
}
