//POSITION CLASSES//
.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centerX {
  left: 50%;
  transform: translateX(-50%);
}
.centerY {
  top: 50%;
  transform: translateY(-50%);
}
.stretch {
  width: 100%;
  height: 100%;
}
.stretchX {
  width: 100%;
}
.stretchY {
  height: 100%;
}
.stretchVW {
  width: 100vw;
}
.stretchVH {
  height: 100vh;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.top {
  top: 0px;
}
.left {
  left: 0px;
}
.right {
  right: 0px;
}
.topZ {
  z-index: +10;
}

//MARGIN CLASSES//
.top5-margin {
  margin-top: 5%;
}
.top10-margin {
  margin-top: 10%;
}
.top20-margin {
  margin-top: 20%;
}
.top30-margin {
  margin-top: 30%;
}
.top40-margin {
  margin-top: 40%;
}
.top50-margin {
  margin-top: 50%;
}
//BASE COLOR CLASSES//
.mainColor {
  background-color: $mainColor;
}
.mainColorText {
  color: $mainColor;
}

.minorColor1 {
  background-color: $minorColor1;
}
.minorColor1Text {
  color: $minorColor1;
}

.minorColor2 {
  background-color: $minorColor2;
}
.minorColor2Text {
  color: $minorColor2;
}
//GRID//
.gridCenterX {
  justify-self: center;
}

.gridRightX {
  justify-self: end;
}
.gridCenterY {
  align-self: center;
}

//LINK STYLE//
.link {
  text-decoration: none;
  color: white;
}
