.pageButton {
  line-height: unset;
  outline: none;
  border: none;
  border-width: 0px;
  background-color: transparent;
}
.pageButton:disabled {
  cursor: default;
  .buttonInitial {
    background-color: $buttonDisabled;
    color: $buttonTextColor;
  }
}

.buttonInitial {
  cursor: pointer;
  width: 180px;
  color: $minorColor1;
  background-color: $buttonBackground;

  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  line-height: 55px;
  border-radius: 5px;

  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  overflow: hidden;
}
.buttonHover {
  background-color: $buttonBackgroundHover;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  margin: 0px;
  border: none;
  overflow: hidden;
}

.filterButton {
  div {
    width: 100%;
    height: 45px;
    line-height: 45px;
  }
  border-radius: 7px;
  margin: 0px;
  border-width: 0px;
  grid-area: filter;
  margin: 5px;
  transition: transform 200ms ease-out;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.filterButton:hover {
  transform: translate(-2px, -2px);
}
