.pageButton {
  line-height: unset;
  outline: none;
  border: none;
  border-width: 0px;
  background-color: transparent;
}
.pageButton:disabled {
  cursor: default;
  .buttonInitial {
    background-color: $buttonDisabled;
    color: $buttonTextColor;
  }
}

.buttonInitial {
  width: 180px;
  color: $minorColor1;
  background-color: $buttonBackground;

  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  padding: 19px 0px;
  border-radius: 5px;

  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  overflow: hidden;
}
.buttonHover {
  background-color: $buttonBackgroundHover;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  margin: 0px;
  border: none;
  overflow: hidden;
}
