.pageButton {
  line-height: unset;
  outline: none;
  border: none;
  border-width: 0px;
  background-color: transparent;
}
.pageButton:disabled {
  cursor: default;
  .buttonInitial {
    background-color: rgb(83, 83, 83);
    color: rgb(168, 168, 168);
  }
}

.buttonInitial {
  width: 180px;
  color: $minorColor1;
  background-color: rgb(38, 62, 105);

  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  padding: 19px 0px;
  border-radius: 5px;

  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  overflow: hidden;
}
.buttonHover {
  background-color: rgb(10, 21, 88);
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  margin: 0px;
  border: none;
  overflow: hidden;
}
