.filterSectionWrapper {
  background-color: $minorColor1;
  border: 1px solid $minorColor2;
  height: 100%;
  top: 0px;
  padding-top: 145px;

  overflow-y: scroll;
  z-index: -1;
  position: absolute;
  opacity: 0;
}

.filterHeaderWrapper {
  margin-bottom: 10px;
  width: 100%;

  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.filterHeaderWrapper:hover {
  background: rgb(233, 233, 233);
}

.filterType {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.regionWrapper {
  margin-left: 10px;
  p {
    width: 100%;
    font-weight: 600;
    padding-bottom: 5px;
  }

  .townWrapper {
    margin-left: 5px;
  }
}

.filterInputWrapper {
  margin-bottom: 3px;

  margin-left: 15px;
  label {
    margin-left: 5px;
  }
}

.filterHeaderWrapper {
  h2 {
    font-size: 20px;
    margin-left: 4px;
  }
  .filterArrowWrapper {
    cursor: pointer;
    height: 13px;
    width: 100%;
    margin-bottom: 3px;

    .filterArrowLine {
      background-color: $mainColor;
      border-radius: 3px;
      margin: 0px;
      height: 3px;
      width: 15px;
      bottom: 0px;
    }

    $arrowMargin: 6px;

    .filterArrowLine:nth-child(1) {
      transform-origin: top left;
      transform: rotate(45deg);
      left: $arrowMargin;
    }
    .filterArrowLine:nth-child(2) {
      transform-origin: top right;
      transform: rotate(-45deg);
      right: $arrowMargin;
    }
  }
}

.contentFilterButton {
  margin-top: 25px;
  margin-bottom: 25px;
  opacity: 0;
}
