.errorModal {
  z-index: -1000;
  opacity: 0;
  $border: 1px solid rgb(233, 91, 106);
  min-width: 375px;
  background: #fff2f2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: $border;
  border-left: $border;
  border-right: $border;
  border-radius: 0px 0px 10px 10px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.exclamationSVG {
  opacity: 1;
  height: 49px;
  width: 49px;
  margin-bottom: 5px;
  position: relative;
  path {
    fill: rgb(233, 91, 106);
  }
}

.errorModalHeader {
  opacity: 1;
  font-size: 20px;
  color: rgb(233, 91, 106);
  margin: 0px 10px 5px 10px;
}
.errorModalMessage {
  opacity: 1;
  color: rgb(233, 91, 106);
  margin: 0px 10px 15px 10px;
  text-align: center;
}

.errorModalButton {
  opacity: 1;
  cursor: pointer;
  width: 85px;
  padding-top: 7px;
  padding-bottom: 6px;
  background-color: #fff2f2;
  border: 1px solid rgb(233, 91, 106);
  color: rgb(233, 91, 106);
  margin-bottom: 15px;

  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.errorModalButtonHover {
  color: white;
  background-color: rgb(233, 91, 106);
}

.errorModalAnimationOn {
  animation-name: errorModalOn;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.errorModalAnimationOff {
  animation-name: errorModalOff;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes errorModalOn {
  0% {
    opacity: 0;
    z-index: -10000;
  }
  1% {
    opacity: 0;
    z-index: +10000;
  }
  100% {
    opacity: 1;
    z-index: +10000;
  }
}

@keyframes errorModalOff {
  0% {
    opacity: 1;
    z-index: +10000;
  }
  99% {
    opacity: 0;
    z-index: +10000;
  }
  100% {
    opacity: 0;
    z-index: -10000;
  }
}
