.filterWrapper {
  grid-area: filter;
}

.filterWrapper-fitness {
  display: grid;
  position: relative;
  column-gap: 5px;
  row-gap: 5px;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "general general others others search search"
    "regions regions equipment equipment order order";
  align-items: center;

  @include mq($from: 1200px) {
    left: 50%;
    transform: translateX(-50%);
  }

  @include mq($until: 1199px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mq($until: 700px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "order search"
      "general others"
      "equipment regions";
    padding-left: 60px;
    padding-right: 60px;
  }

  @include mq($until: 500px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "search"
      "order"
      "general"
      "others"
      "equipment"
      "regions";
    padding-left: 5%;
    padding-right: 5%;
  }

  @include mq($from: 1200px) {
    grid-template-areas: "general others equipment regions order search";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 300px;
  }

  .selectAllWrapper {
    width: 100%;

    .selectWrapper {
      width: inherit;
    }
    .optionsWrapper {
      width: inherit;
    }
  }
}

.filterActiveBoltsSection {
  grid-area: filterBolts;
  position: relative;
  display: flex;
  gap: 5px;
  flex-direction: row;
  padding-bottom: 10px;
  height: 50px;
  max-width: 1200px;

  @include mq($from: 1200px) {
    left: 50%;
    transform: translateX(-50%);
  }

  @include mq($until: 1199px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include mq($until: 700px) {
    padding-left: 60px;
    padding-right: 60px;
  }
  @include mq($until: 500px) {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.regions {
  position: relative;
  margin: 5px;
  grid-area: regions;
}

.general {
  position: relative;
  margin: 5px;
  grid-area: general;
}

.equipment {
  position: relative;
  margin: 5px;
  grid-area: equipment;
}

.others {
  position: relative;
  margin: 5px;
  grid-area: others;
}

.searchBar {
  position: relative;
  margin: 5px;
  grid-area: search;
}

.order {
  position: relative;
  margin: 5px;
  grid-area: order;
}
