.menu {
  max-width: $maxWidth;
  display: grid;
  width: 100%;
  min-width: 360px;
  grid-template-columns: 15px 1fr min-content 1fr 25px;
  grid-template-areas: ". . logo hamburger .";

  height: 60px;
  background-color: $mainColor;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 21%, rgba(0, 0, 0, 0.24) 100%);
  position: fixed;
  top: 0px;
  z-index: 1;

  @include mq($until: $maxWidth) {
    width: 100vw;
  }

  @include mq($from: tablet) {
    grid-template-columns: 15px min-content 1fr min-content 15px;
    grid-template-areas: ". logo . menuOffer .";
  }
}

#hamburger-wrapper {
  opacity: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: +1;

  display: none;
  grid-template-rows: 10px 10px 10px;
  grid-template-areas: "slice1" "slice2" "slice3";

  .slice {
    height: 5px;
    border-radius: 5px;
  }

  .slice:nth-child(1) {
    grid-area: slice1;
  }
  .slice:nth-child(2) {
    grid-area: slice2;
  }
  .slice:nth-child(3) {
    grid-area: slice3;
  }
}

#menuOffer {
  display: grid;
  grid-auto-flow: column;
}

.offerItem {
  cursor: pointer;
  white-space: nowrap;
  display: grid;

  opacity: 0;
  text-decoration: none;

  transition: background-color 0.5s ease-out;

  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  align-self: center;
  justify-self: center;
  color: $textContrastColor;
  height: 100%;
  align-items: center;

  p {
    text-decoration: none;
    color: $textContrastColor;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.offerItem:hover {
  background-color: rgba(114, 114, 114, 0.733);
}

.loginButton {
  svg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  svg > path {
    stroke: $textContrastColor;
    stroke-width: 1px;
  }
}

#menuLayer {
  z-index: 0;
  width: 0%;
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas: "." "layerItems" ".";

  #menuOfferItems-wrapper {
    grid-area: layerItems;
    display: grid;

    align-content: center;
    justify-content: center;

    .offerItem-layer {
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;
      width: 80vw;

      border-top: $minorColor1 1px solid;
    }

    .offerItem-layer:last-child {
      border-bottom: $minorColor1 1px solid;
    }
  }
}

.logoGrid {
  grid-area: logo;
}
.menuOfferGrid {
  grid-area: menuOffer;
}
.hamburgerGrid {
  grid-area: hamburger;
}
