.rootModalClass {
  background: rgba(0, 0, 0, 0.477);
  backdrop-filter: blur(5px);
}

.modalClass {
  min-width: 340px;
  width: 60%;
  max-width: 480px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgba(52, 52, 52, 0.774);
  color: white;
}

.buttonClass {
  opacity: 0;
  background: rgb(38, 62, 105);
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  height: 45px;
  span {
    line-height: unset;
  }
}

.buttonClass:hover {
  background: rgb(10, 21, 88);
  transition-property: background;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}

.modalTextClass {
  opacity: 0;
  white-space: pre-wrap;
  text-align: center;
  padding-bottom: 20px;
}

.modalHeader {
  position: relative;
  width: 100%;
}

.successHeader {
  text-transform: uppercase;
  opacity: 0;
  margin-top: 20px;
  margin-bottom: 15px;
}

.errorHeader {
  text-transform: uppercase;
  opacity: 0;
  margin-top: 20px;
  margin-bottom: 15px;
}

.circleContainer {
  display: block;
  margin: auto;
  circle {
    //set by Math.ceil(2 * Math.PI * r)
    stroke-dasharray: 202;
    stroke-dashoffset: 202;
  }
}

.successContainer {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  position: absolute;

  path {
    stroke-dasharray: 91.63243865966797;
    stroke-dashoffset: 91.63243865966797;
  }
}

.errorCrossContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  line {
    stroke-dasharray: 36.53257369995117;
    stroke-dashoffset: 36.53257369995117;
  }
}
