$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);

.searchItem {
  $height: 250px;
  $width: $height + 50px;
  width: $width !important;
  height: $height !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  background: rgb(138, 138, 138) !important;
  overflow: hidden !important;
}

.popularityCounter {
  .popularityImgWrapper {
    height: 20px;
    width: min-content;

    .heart {
      //fill: rgb(231, 0, 0);
      fill: rgb(196, 196, 196);
    }
  }
  p {
    color: $minorColor1;
    font-weight: 600;
    font-size: 0.8em;
  }
}

.toppedImgWrapper {
  height: 22px;
}

.itemBar {
  height: 60px;
  background: rgba(0, 0, 0, 0.475);
  border-radius: 0 0 5px 5px;

  h3 {
    font-size: 1.2em;
    color: $minorColor1;
    margin-left: 15px;
    line-height: 1 !important;
    overflow-wrap: break-word;
  }

  .viewsCounter {
    color: $minorColor1;
    font-weight: 500;
    font-size: 1em;
  }
}

.searchImg {
  width: auto;
  height: 100%;
  background-position: center;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  background-repeat: no-repeat;
}
