.timeInputWrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  width: fit-content;
}
.timeInputLabel {
  position: relative;
  display: flex;
  font-weight: 700;
}

.timeInputRequiredStar {
  position: relative;
  top: unset;
  right: unset;
  margin-left: 8px;
}

.timeInputInputsWrapper {
  display: flex;
  column-gap: 15px;
  margin-top: 10px;
}

.timeInputOptions {
  z-index: -1;
  border: none;
  margin-top: 4px;
  background: rgb(75, 75, 75);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.timeInputOptionsFocused {
  z-index: 2;
}

.timeInputSelect {
  border: none;
  color: white;
  background: rgba(255, 255, 255, 0.253);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition: background 0.25s ease-out;
  min-width: 150px;
  position: relative;
  width: fit-content;
  border-radius: 5px;
  height: 60px;
}

.timeInputSelect:hover {
  background: rgb(75, 75, 75);
}

.timeInputArrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

$arrowWidth: 8px;
$height: 2px;
$translate1: -($arrowWidth/4);
$translate2: ($arrowWidth/4);

.timeInputRoot:hover {
  .timeInputArrow {
    .line1 {
      transform: translateX($translate1) rotate(-130deg);
    }
    .line2 {
      transform: translateX($translate2) rotate(+130deg);
    }
  }
}

.timeInputActive {
  background: rgb(75, 75, 75);
}

.arrowActiveState {
  .timeInputArrow {
    .line1 {
      transform: translateX($translate1) rotate(-130deg);
    }
    .line2 {
      transform: translateX($translate2) rotate(+130deg);
    }
  }
}

.timeInputValue {
  position: absolute;
  height: min-content;
  line-height: unset;
  width: calc(100% - 30px);
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  left: 0px;
}

.timeInputRootDisabled:hover {
  .timeInputSelect {
    background: rgba(52, 52, 52, 0.629);
  }
  .timeInputArrow {
    .line1 {
      transform: translateX(-2px) rotate(-50deg);
    }
    .line2 {
      transform: translateX(2px) rotate(50deg);
    }
  }
}

.timeInputRootDisabled {
  .timeInputSelect {
    background: rgba(52, 52, 52, 0.629);
  }
}
