@import "../mq";
/////////////////////////////////////////////////////////////
//MAIN LAYOUT SETTINGS//
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  font-family: $primaryFont, $secondaryFont;
  font-size: $basicFontSize;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: clamp(1.602em, 8vw, 2.441em);
}
h2 {
  font-size: clamp(1.424em, 6vw, 1.953em);
}
h3 {
  font-size: clamp(1.266em, 5vw, 1.563em);
}

a {
  text-decoration: none;
}

html {
  overflow: auto;
  overflow-x: hidden;

  @include stretchBasePages;
  @media screen and (max-width: 360px) {
    overflow-x: auto;
  }
}

body {
  overflow: auto;
  width: 100vw;
  height: 100%;

  @include minHeightWidth;
}

#root {
  background: rgb(47, 47, 47);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

  @include minHeightWidth;
}

#App {
  @include maxHeightWidth;
  @include minHeightWidth;
  max-width: $maxWidth;
}

@import "./SubLayouts/menuLayout";
@import "./SubLayouts/homeLayout";
@import "./SubLayouts/crossroadLayout";
@import "./SubLayouts/contentpagesLayout";
@import "./SubLayouts/footerLayout";
@import "./SubLayouts/loginLayout";
@import "./SubLayouts/dashboardLayout";
@import "./SubLayouts/overviewLayout";
@import "./SubLayouts/settingsLayout";
@import "./SubLayouts//addItemLayout";
