@charset "UTF-8";
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 11px;
}

::-webkit-scrollbar:horizontal {
  height: 11px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 8px;
}

/*BASE - Base Variable file along with starting point Mixins and Placeholders.*/
/*FRAMEWORK - Structure and layout files.*/
body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 22.5em) {
  body:before {
    content: "mobile ≥ 360px (22.5em)";
  }
}

@media (min-width: 47.5em) {
  body:before {
    content: "tablet ≥ 760px (47.5em)";
  }
}

@media (min-width: 61.25em) {
  body:before {
    content: "desktop ≥ 980px (61.25em)";
  }
}

@media (min-width: 81.25em) {
  body:before {
    content: "wide ≥ 1300px (81.25em)";
  }
}

* {
  margin: 0px;
  padding: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif, "Times New Roman";
  font-size: 1em;
}

h1 {
  font-size: clamp(1.602em, 8vw, 2.441em);
}

h2 {
  font-size: clamp(1.424em, 6vw, 1.953em);
}

h3 {
  font-size: clamp(1.266em, 5vw, 1.563em);
}

a {
  text-decoration: none;
}

html {
  overflow: auto;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  min-height: 667px;
  min-width: 375px;
}

@media screen and (max-width: 360px) {
  html {
    overflow-x: auto;
  }
}

body {
  overflow: auto;
  width: 100vw;
  min-height: 667px;
  min-width: 375px;
}

#root {
  width: 100%;
  background: #2f2f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 667px;
  min-width: 375px;
}

#App {
  width: 100%;
  height: 100%;
  min-height: 667px;
  min-width: 375px;
  max-width: 2500px;
}

.menu {
  max-width: 2500px;
  display: -ms-grid;
  display: grid;
  width: 100%;
  min-width: 360px;
  -ms-grid-columns: 15px 1fr min-content 1fr 25px;
      grid-template-columns: 15px 1fr -webkit-min-content 1fr 25px;
      grid-template-columns: 15px 1fr min-content 1fr 25px;
      grid-template-areas: ". . logo hamburger .";
}

@media (max-width: 156.25em) {
  .menu {
    width: 100vw;
  }
}

@media (min-width: 47.5em) {
  .menu {
    -ms-grid-columns: 15px min-content 1fr min-content 15px;
        grid-template-columns: 15px -webkit-min-content 1fr -webkit-min-content 15px;
        grid-template-columns: 15px min-content 1fr min-content 15px;
        grid-template-areas: ". logo . menuOffer .";
  }
}

.logoGrid {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: logo;
}

.menuOfferGrid {
  grid-area: menuOffer;
}

.hamburgerGrid {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: hamburger;
}

.menuOfferGrid {
  grid-area: menuOffer;
}

#Home {
  max-width: 2500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 1fr 4fr 1fr;
      grid-template-rows: 50px 1fr 4fr 1fr;
      grid-template-areas: "." "pageHeader" "mainHeader" "button";
}

#pageHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: pageHeader;
}

#bigLogoWrapper {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: mainHeader;
}

#homeHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: mainHeader;
}

#homeHeader div .headerWrapper {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-left: 30px;
}

#homeHeader div .headerWrapper:nth-child(1) {
  margin-right: auto;
}

#homeHeader div .headerWrapper:nth-child(2) {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: auto;
}

#homeHeader div .headerWrapper:nth-child(3) {
  margin-right: auto;
}

@media (min-width: 47.5em) {
  #homeHeader div {
    width: 90%;
  }
  #homeHeader div .headerWrapper {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
  #homeHeader div .headerWrapper:nth-child(1) {
    margin-right: auto;
  }
  #homeHeader div .headerWrapper:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: calc((100vw / 2) - 280px);
  }
  #homeHeader div .headerWrapper:nth-child(3) {
    margin-left: auto;
    margin-right: 0px;
  }
}

@media (min-width: 81.25em) {
  #homeHeader div {
    width: 1170px;
  }
  #homeHeader div .headerWrapper:nth-child(2) {
    margin-right: auto;
    margin-left: 370px;
  }
}

#homeButton {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: button;
}

#Crossroad {
  max-width: 2500px;
}

@media (min-width: 61.25em) {
  #Crossroad #crossroadSectionWrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 10px 1fr;
        grid-template-areas: "fitnessSection divider coachSection";
  }
}

@media (min-width: 61.25em) {
  #FitnessSection {
    grid-area: fitnessSection;
  }
}

#FitnessSection .layer {
  -ms-grid-rows: 90px 1fr 3fr 1fr 90px;
      grid-template-rows: 90px 1fr 3fr 1fr 90px;
      grid-template-areas: "." "header" "paragraph" "button" ".";
}

#divider {
  display: none;
}

@media (min-width: 61.25em) {
  #divider {
    grid-area: divider;
    display: initial;
  }
}

#CoachSection .layer {
  -ms-grid-rows: 90px 1fr 3fr 1fr 90px;
      grid-template-rows: 90px 1fr 3fr 1fr 90px;
      grid-template-areas: "." "header" "paragraph" "button" ".";
}

#RegisterSection {
  max-width: 2500px;
  min-height: 667px;
  min-width: 375px;
}

#RegisterSection .layer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 55px min-content min-content 1fr;
      grid-template-rows: 1fr 55px -webkit-min-content -webkit-min-content 1fr;
      grid-template-rows: 1fr 55px min-content min-content 1fr;
      grid-template-areas: "." "header" "paragraph" "form" ".";
}

.registerHeaderWrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
}

.registerHeaderWrapper h2 {
  font-size: clamp(18px, 7vw, 40px);
}

.registerParagraph {
  font-size: clamp(15px, 3vw, 17px);
  margin-bottom: 50px;
  padding-top: 20px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: paragraph;
}

.registerFormWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-item-align: center;
      align-self: center;
  width: 70%;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: form;
}

@media (min-width: 47.5em) {
  .registerFormWrapper {
    width: 85%;
    max-width: 900px;
  }
  .registerFormWrapper #registerForm {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr min-content 1fr;
        grid-template-rows: 1fr 1fr -webkit-min-content 1fr;
        grid-template-rows: 1fr 1fr min-content 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "input1 input2" "input3 input3" "formTerms formTerms" "button button";
  }
}

@media (min-width: 47.5em) {
  .inputWrapper:nth-child(1) {
    padding-right: 10px;
    grid-area: input1;
  }
}

@media (min-width: 47.5em) {
  .inputWrapper:nth-child(2) {
    padding-left: 10px;
    grid-area: input2;
  }
}

@media (min-width: 47.5em) {
  .inputWrapper:nth-child(3) {
    grid-area: input3;
  }
}

.formTerms {
  grid-area: formTerms;
  font-size: 12px;
}

.formTerms div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 18px;
}

@media (min-width: 47.5em) {
  .formTerms {
    width: 320px;
    font-size: 15px;
  }
}

@media (min-width: 47.5em) {
  .registerFormButton {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: button;
  }
}

.headerSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70px min-content 15px;
      grid-template-rows: 70px -webkit-min-content 15px;
      grid-template-rows: 70px min-content 15px;
  -ms-grid-columns: 100px 1fr 100px;
      grid-template-columns: 100px 1fr 100px;
      grid-template-areas: ". . ." "filter header backButton" ". . .";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.headerSection .filterIconWrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: filter;
}

.headerSection h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
  margin: 0px;
}

.headerSection a {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: backButton;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: 7px;
}

.filterSectionWrapper {
  position: fixed;
}

.filterHeaderWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 30px 5%;
      grid-template-columns: 5% 1fr 30px 5%;
  -ms-grid-rows: 30px min-content;
      grid-template-rows: 30px -webkit-min-content;
      grid-template-rows: 30px min-content;
      grid-template-areas: ". header arrow ." ". underliner underliner .";
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.filterHeaderWrapper h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
}

.filterHeaderWrapper .filterArrowWrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: arrow;
}

.filterHeaderWrapper .underliner {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: underliner;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 47.49em) {
  .footer section {
    left: unset;
    -webkit-transform: unset;
            transform: unset;
  }
}

@media (min-width: 47.5em) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 60px;
        grid-template-rows: 1fr 60px;
        grid-template-areas: "section1 section2 section3" "copyright copyright copyright";
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.followUs .logoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 47.5em) {
  .followUs {
    grid-area: section1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 47.5em) {
  .other {
    grid-area: section2;
  }
}

.gymtour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 47.5em) {
  .gymtour {
    grid-area: section3;
  }
}

@media (min-width: 47.5em) {
  .copyRight {
    grid-area: copyright;
    margin-left: auto;
    margin-right: auto;
  }
}

.center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.centerX {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.centerY {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.stretch {
  width: 100%;
  height: 100%;
}

.stretchX {
  width: 100%;
}

.stretchY {
  height: 100%;
}

.stretchVW {
  width: 100vw;
}

.stretchVH {
  height: 100vh;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.top {
  top: 0px;
}

.left {
  left: 0px;
}

.right {
  right: 0px;
}

.topZ {
  z-index: +10;
}

.top5-margin {
  margin-top: 5%;
}

.top10-margin {
  margin-top: 10%;
}

.top20-margin {
  margin-top: 20%;
}

.top30-margin {
  margin-top: 30%;
}

.top40-margin {
  margin-top: 40%;
}

.top50-margin {
  margin-top: 50%;
}

.mainColor {
  background-color: black;
}

.mainColorText {
  color: black;
}

.minorColor1 {
  background-color: white;
}

.minorColor1Text {
  color: white;
}

.minorColor2 {
  background-color: #707070;
}

.minorColor2Text {
  color: #707070;
}

.gridCenterX {
  -ms-grid-column-align: center;
      justify-self: center;
}

.gridRightX {
  -ms-grid-column-align: end;
      justify-self: end;
}

.gridCenterY {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.link {
  text-decoration: none;
  color: white;
}

.pointer {
  cursor: pointer;
}

.minHeightWidth {
  min-height: 667px;
  min-width: 375px;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

.hideScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*MODULES - Re-usable site elements.*/
#Home img {
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100vh;
}

#Home #pageHeader {
  font-size: clamp(18px, 3vw, 30px);
  font-weight: bold;
  cursor: default;
  opacity: 0;
}

#Home .homeHeader {
  font-size: clamp(35px, 7vmin, 75px);
  margin: clamp(15px, 5vh, 100px);
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0;
  -webkit-transition-property: text-shadow;
  transition-property: text-shadow;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: "ease-out";
          transition-timing-function: "ease-out";
}

#Home .homeHeader:hover {
  text-shadow: 5.5rem 0px 0px rgba(255, 255, 255, 0.3);
  -webkit-transform-origin: center;
          transform-origin: center;
}

#Home #homeButton {
  width: auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  opacity: 0;
  font-size: clamp(15px, 2vw, 25px);
  font-weight: bold;
}

#Home #homeButton:hover {
  text-decoration: underline;
}

#Home #bigText {
  margin-top: 15px;
}

#Home::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background: linear-gradient(157deg, rgba(0, 0, 0, 0.753) 13%, rgba(0, 0, 0, 0.109) 100%);
}

#Crossroad {
  overflow: auto;
}

.layer {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.crossroadButton {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: button;
  -ms-flex-item-align: center;
      align-self: center;
}

.FitnessSection {
  color: white;
  background: #707070;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.FitnessSection img {
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100vh;
}

.fitnessSectionHeader {
  text-transform: uppercase;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.fitnessSectionParagraph {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: paragraph;
  white-space: pre-wrap;
  line-height: 1.1;
  text-align: center;
  font-size: 17px;
  padding: 0px 10vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 61.25em) {
  .fitnessSectionParagraph {
    padding: 0px 7vw;
    font-size: 19px;
  }
}

@media (min-width: 81.25em) {
  .fitnessSectionParagraph {
    padding: 0px 100px;
  }
}

@media (min-width: 61.25em) {
  .FitnessSection::before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    background: black;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, black), color-stop(20%, rgba(0, 0, 0, 0)));
    background: linear-gradient(0deg, black 5%, rgba(0, 0, 0, 0) 20%);
  }
}

.divider {
  background: white;
}

@media (min-width: 61.25em) {
  .divider::before {
    width: 30px;
    height: 100vh;
    position: absolute;
    content: "";
    background: black;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, black), color-stop(20%, rgba(0, 0, 0, 0)));
    background: linear-gradient(0deg, black 5%, rgba(0, 0, 0, 0) 20%);
  }
}

.CoachSection {
  color: white;
  background: #707070;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.CoachSection img {
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100vh;
}

.coachSectionHeader {
  text-transform: uppercase;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.coachSectionParagraph {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: paragraph;
  white-space: pre-wrap;
  line-height: 1.1;
  text-align: center;
  font-size: 17px;
  padding: 0px 10vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 61.25em) {
  .coachSectionParagraph {
    padding: 0px 7vw;
    font-size: 19px;
  }
}

@media (min-width: 81.25em) {
  .coachSectionParagraph {
    padding: 0px 100px;
  }
}

.CoachSection::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, black), color-stop(20%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, black 5%, rgba(0, 0, 0, 0) 20%);
}

.RegisterSection {
  color: white;
  background: #707070;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.RegisterSection img {
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100vh;
}

.RegisterSection .layer {
  justify-items: unset;
}

.RegisterSection::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(50%, rgba(255, 255, 255, 0)), to(black));
  background: linear-gradient(180deg, black 0%, rgba(255, 255, 255, 0) 50%, black 100%);
}

.registerHeaderWrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.registerHeaderWrapper h2 {
  text-transform: uppercase;
}

.registerParagraph {
  margin-top: 20px;
  width: 70%;
  text-align: center;
}

.formTerms div input {
  cursor: pointer;
}

.formTerms div label {
  margin-left: 10px;
}

.formTerms div label:hover {
  text-decoration: underline;
}

.formTerms div:nth-child(1) {
  margin-bottom: 10px;
}

.menu {
  height: 60px;
  background-color: black;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(21%, black), to(rgba(0, 0, 0, 0.24)));
  background: linear-gradient(180deg, black 21%, rgba(0, 0, 0, 0.24) 100%);
  position: fixed;
  top: 0px;
}

#hamburger-wrapper {
  opacity: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: +1;
  display: none;
  -ms-grid-rows: 10px 10px 10px;
      grid-template-rows: 10px 10px 10px;
      grid-template-areas: "slice1" "slice2" "slice3";
}

#hamburger-wrapper .slice {
  height: 5px;
  border-radius: 5px;
}

#hamburger-wrapper .slice:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: slice1;
}

#hamburger-wrapper .slice:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: slice2;
}

#hamburger-wrapper .slice:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: slice3;
}

#menuOffer {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
}

.offerItem {
  cursor: pointer;
  white-space: nowrap;
  display: -ms-grid;
  display: grid;
  opacity: 0;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  color: white;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offerItem p {
  text-decoration: none;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.offerItem:hover {
  background-color: rgba(114, 114, 114, 0.733);
}

#menuLayer {
  z-index: 0;
  width: 0%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 1fr 60px;
      grid-template-rows: 60px 1fr 60px;
      grid-template-areas: "." "layerItems" ".";
}

#menuLayer #menuOfferItems-wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: layerItems;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menuLayer #menuOfferItems-wrapper .offerItem-layer {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  width: 80vw;
  border-top: white 1px solid;
}

#menuLayer #menuOfferItems-wrapper .offerItem-layer:last-child {
  border-bottom: white 1px solid;
}

.logo-wrapper {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: +1;
}

#smallLogo {
  cursor: pointer;
  overflow: visible;
  margin-right: 10px;
}

#smallLogo .logoPath {
  fill: white;
  opacity: 0;
}

#smallText {
  cursor: pointer;
  overflow: visible;
}

#smallText .logoText {
  opacity: 0;
}

.buttonInitial {
  width: 180px;
  color: white;
  background-color: #292727;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  padding: 19px 0px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.buttonHover {
  background-color: black;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.layer {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.623);
}

.footer {
  border: none;
}

.followUs {
  margin-top: 25px;
}

.followUs h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: default;
}

.followUs .underliner {
  margin-top: 5px;
}

.followUs .logoWrapper {
  width: auto;
}

.linkCol {
  margin-top: 25px;
}

.linkCol h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: default;
}

.linkCol .underliner {
  margin-top: 5px;
}

.linkCol .link {
  margin: 2px 0px;
  font-size: 0.9rem;
}

.linkCol .footerLinkWrapper .underliner {
  margin-top: 0px;
  height: 1px;
}

.linkCol .footerLinkWrapper:hover .underliner {
  width: 90% !important;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

@media (min-width: 81.25em) {
  .linkCol {
    margin-right: auto;
  }
}

.copyRight {
  margin-top: 25px;
  margin-bottom: 10px;
}

.copyRight a {
  font-size: 0.7rem;
  text-decoration: none;
  color: white;
}

.icon {
  margin: 15px 5px;
  cursor: pointer;
  overflow: visible;
}

.icon:nth-child(1) {
  width: 23px;
  height: 23px;
  border-radius: 6px;
}

.icon:hover {
  background: white;
}

.underliner {
  height: 3px;
  background: white;
  border-radius: 2px;
  position: relative;
  margin: 10px auto;
}

.inputWrapper {
  width: 100%;
}

.formInput {
  height: 50px;
  width: inherit;
  padding-left: 10px;
  background-color: rgba(192, 192, 192, 0.274);
  color: white;
  border: 2px solid transparent;
  border-radius: 5px;
}

.formInput::-webkit-input-placeholder {
  opacity: 1;
  color: #e2e2e2;
}

.formInput:-ms-input-placeholder {
  opacity: 1;
  color: #e2e2e2;
}

.formInput::-ms-input-placeholder {
  opacity: 1;
  color: #e2e2e2;
}

.formInput::placeholder {
  opacity: 1;
  color: #e2e2e2;
}

.errorMessage {
  color: red;
  margin: 5px 5px;
  font-size: 10px;
}

button[type="submit"] {
  width: 100%;
  padding: 20px 0px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #263e69;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

button[type="submit"]:hover {
  background: #0a1558;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

button[type="submit"]:active {
  background: #263e69;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.modalWrapper {
  background: #2a2a2a;
  display: none;
  justify-items: center;
  -ms-grid-rows: 1fr min-content min-content min-content 1fr;
      grid-template-rows: 1fr -webkit-min-content -webkit-min-content -webkit-min-content 1fr;
      grid-template-rows: 1fr min-content min-content min-content 1fr;
      grid-template-areas: "." "anSection" "msgSection" "button" ".";
  z-index: +1000;
  position: fixed;
}

.animaitonWrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: anSection;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circleContainer {
  position: relative;
  width: 100px;
  height: 100px;
}

.circleContainer .circle {
  display: block;
  border-radius: 50%;
}

.svgCross {
  display: initial;
}

.svgCross line:nth-child(1) {
  stroke-dasharray: 55;
  stroke-dashoffset: 55;
}

.svgCross line:nth-child(2) {
  stroke-dasharray: 55;
  stroke-dashoffset: -55;
}

.svgSucess path {
  stroke-dasharray: 92;
  stroke-dashoffset: 92;
}

.msgWrapper {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: msgSection;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.msgWrapper .modalSucessObj {
  width: 100%;
  opacity: 0;
}

.msgWrapper .modalSucessObj .modalSucessContent {
  margin: 20px 10px;
  color: #037503;
  font-weight: 600;
  text-align: center;
}

.msgWrapper .modalErrorObj {
  width: 100%;
  opacity: 0;
}

.msgWrapper .modalErrorObj .modalErrorHeader {
  color: #ff2c2c;
  text-align: center;
  font-weight: 600;
}

.msgWrapper .modalErrorObj .modalErrorContent {
  color: #ff2c2c;
  text-align: center;
}

.modalButton {
  margin-top: 30px;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: button;
  opacity: 0;
  cursor: pointer;
}

.modalButton .buttonInitial {
  background-color: #263e69;
}

.modalButton .buttonHover {
  background-color: #0a1558;
}

.loadingWrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loadingCircle {
  width: 2vw;
  height: 2vw;
  margin: 5px;
  border-radius: 50%;
  background: white;
}

.filterIconWrapper {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 24px;
  cursor: pointer;
}

.filterLine {
  position: absolute;
  height: 5px;
  border-radius: 8px;
  background: black;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.filterLine:nth-child(1) {
  top: 3px;
  width: 100%;
}

.filterLine:nth-child(2) {
  top: 11px;
  width: 70%;
}

.filterLine:nth-child(3) {
  top: 19.5px;
  width: 50%;
}

.contentPage {
  position: relative;
  min-height: 100vh;
}

.headerSection h1 {
  cursor: default;
  text-transform: uppercase;
}

.headerSection a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.headerSection a:hover {
  text-decoration: underline;
}

.filterSectionWrapper {
  background-color: white;
  border: 1px solid #707070;
  height: 100%;
  padding-top: 15px;
}

.filterHeaderWrapper h2 {
  font-size: 20px;
}

.filterHeaderWrapper .filterArrowWrapper {
  position: relative;
  height: 100%;
}

.filterHeaderWrapper .filterArrowWrapper .filterArrowLine {
  position: relative;
  background-color: black;
  margin: 0px;
  height: 3px;
  width: 25px;
  bottom: 0px;
}

.filterHeaderWrapper .filterArrowWrapper .filterArrowLine:nth-child(1) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.filterHeaderWrapper .filterArrowWrapper .filterArrowLine:nth-child(2) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=index.css.map */