::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 11px;
}

::-webkit-scrollbar:horizontal {
  height: 11px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

/*BASE - Base Variable file along with starting point Mixins and Placeholders.*/
/*FRAMEWORK - Structure and layout files.*/
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif, "Times New Roman";
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: clamp(1.602em, 8vw, 2.441em);
}

h2 {
  font-size: clamp(1.424em, 6vw, 1.953em);
}

h3 {
  font-size: clamp(1.266em, 5vw, 1.563em);
}

a {
  text-decoration: none;
}

html {
  overflow: auto;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  min-height: 667px;
  min-width: 375px;
}
@media screen and (max-width: 360px) {
  html {
    overflow-x: auto;
  }
}

body {
  width: 100vw;
  height: 100vh;
  min-height: 667px;
  min-width: 375px;
}

#root {
  overflow: hidden;
  background: rgb(47, 47, 47);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 667px;
  min-width: 375px;
}

#App {
  width: 100%;
  height: 100%;
  min-height: 667px;
  min-width: 375px;
  max-width: 2500px;
  overflow: hidden;
}
#App .page {
  overflow: auto;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerX {
  left: 50%;
  transform: translateX(-50%);
}

.centerY {
  top: 50%;
  transform: translateY(-50%);
}

.stretch {
  width: 100%;
  height: 100%;
}

.stretchX {
  width: 100%;
}

.stretchY {
  height: 100%;
}

.stretchVW {
  width: 100vw;
}

.stretchVH {
  height: 100vh;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.top {
  top: 0px;
}

.left {
  left: 0px;
}

.bottom {
  bottom: 0px;
}

.right {
  right: 0px;
}

.topZ {
  z-index: 10;
}

.hide {
  display: none !important;
}

.top5-margin {
  margin-top: 5%;
}

.top10-margin {
  margin-top: 10%;
}

.top20-margin {
  margin-top: 20%;
}

.top30-margin {
  margin-top: 30%;
}

.top40-margin {
  margin-top: 40%;
}

.top50-margin {
  margin-top: 50%;
}

.mainColor {
  background-color: black;
}

.mainColorText {
  color: black;
}

.minorColor1 {
  background-color: white;
}

.minorColor1Text {
  color: white;
}

.minorColor2 {
  background-color: #707070;
}

.minorColor2Text {
  color: #707070;
}

.gridCenterX {
  justify-self: center;
}

.gridRightX {
  justify-self: end;
}

.gridCenterY {
  align-self: center;
}

.link {
  text-decoration: none;
  color: white;
}

.pointer {
  cursor: pointer;
}

.minHeightWidth {
  min-height: 667px;
  min-width: 375px;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

.hideScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*MODULES - Re-usable site elements.*/
#Home {
  max-width: 2500px;
  display: grid;
  grid-template-rows: 50px 1fr 4fr 1fr;
  grid-template-areas: "." "pageHeader" "mainHeader" "button";
}
#Home img {
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100vh;
}
#Home #pageHeader {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  grid-area: pageHeader;
  font-size: clamp(18px, 3vw, 30px);
  font-weight: bold;
  cursor: default;
  opacity: 0;
}
#Home #bigLogoWrapper {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: mainHeader;
}
#Home #homeHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}
#Home #homeHeader div .headerWrapper {
  width: -moz-min-content;
  width: min-content;
  margin-left: 30px;
}
#Home #homeHeader div .headerWrapper:nth-child(1) {
  margin-right: auto;
}
#Home #homeHeader div .headerWrapper:nth-child(2) {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: auto;
}
#Home #homeHeader div .headerWrapper:nth-child(3) {
  margin-right: auto;
}
@media (min-width: 47.5em) {
  #Home #homeHeader div {
    width: 90%;
  }
  #Home #homeHeader div .headerWrapper {
    width: -moz-min-content;
    width: min-content;
  }
  #Home #homeHeader div .headerWrapper:nth-child(1) {
    margin-right: auto;
  }
  #Home #homeHeader div .headerWrapper:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: calc(50vw - 280px);
  }
  #Home #homeHeader div .headerWrapper:nth-child(3) {
    margin-left: auto;
    margin-right: 0px;
  }
}
@media (min-width: 81.25em) {
  #Home #homeHeader div {
    width: 1170px;
  }
  #Home #homeHeader div .headerWrapper:nth-child(2) {
    margin-right: auto;
    margin-left: 370px;
  }
}
#Home .homeHeader {
  grid-area: mainHeader;
  display: none;
  font-size: clamp(35px, 7vmin, 75px);
  margin: clamp(15px, 5vh, 100px);
  text-transform: uppercase;
  cursor: pointer;
  transition-property: text-shadow;
  transition-duration: 1s;
  transition-timing-function: "ease-out";
}
#Home .homeHeader:hover {
  text-shadow: 5.5rem 0px 0px rgba(255, 255, 255, 0.3);
  transform-origin: center;
}
#Home #homeButton {
  width: auto;
  height: -moz-min-content;
  height: min-content;
  grid-area: button;
  opacity: 0;
  font-size: clamp(15px, 2vw, 25px);
  font-weight: bold;
}
#Home #homeButton:hover {
  text-decoration: underline;
}
#Home #bigText {
  margin-top: 15px;
}

#Home::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background: linear-gradient(157deg, rgba(0, 0, 0, 0.753) 13%, rgba(0, 0, 0, 0.109) 100%);
}

#Crossroad {
  max-width: 2500px;
  overflow: auto;
}
@media (min-width: 61.25em) {
  #Crossroad #crossroadSectionWrapper {
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-areas: "fitnessSection divider coachSection";
  }
}

.layer {
  display: grid;
  justify-items: center;
}

.crossroadButton {
  grid-area: button;
  align-self: center;
}

#crossroadDivider {
  display: none;
}
@media (min-width: 61.25em) {
  #crossroadDivider {
    grid-area: divider;
    display: initial;
  }
}

@media (min-width: 61.25em) {
  #FitnessSection {
    grid-area: fitnessSection;
  }
}
#FitnessSection .layer {
  grid-template-rows: 90px 1fr 3fr 1fr 90px;
  grid-template-areas: "." "header" "paragraph" "button" ".";
}

.FitnessSection {
  color: white;
  background: #707070;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.FitnessSection img {
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100vh;
}

.fitnessSectionHeader {
  text-transform: uppercase;
  grid-area: header;
  align-self: center;
}

.fitnessSectionParagraph {
  grid-area: paragraph;
  white-space: pre-wrap;
  line-height: 1.1;
  text-align: center;
  font-size: 17px;
  padding: 0px 10vw;
  align-self: center;
}
@media (min-width: 61.25em) {
  .fitnessSectionParagraph {
    padding: 0px 7vw;
    font-size: 19px;
  }
}
@media (min-width: 81.25em) {
  .fitnessSectionParagraph {
    padding: 0px 100px;
  }
}

.divider {
  background: rgb(255, 255, 255);
}

@media (min-width: 61.25em) {
  .FitnessSection::before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    background: black;
    background: linear-gradient(0deg, rgb(0, 0, 0) 5%, rgba(0, 0, 0, 0) 20%);
  }
  .divider::before {
    width: 30px;
    height: 100vh;
    position: absolute;
    content: "";
    background: black;
    background: linear-gradient(0deg, rgb(0, 0, 0) 5%, rgba(0, 0, 0, 0) 20%);
  }
}
#CoachSection .layer {
  grid-template-rows: 90px 1fr 3fr 1fr 90px;
  grid-template-areas: "." "header" "paragraph" "button" ".";
}

.CoachSection {
  color: white;
  background: #707070;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.CoachSection img {
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100vh;
}

.coachSectionHeader {
  text-transform: uppercase;
  grid-area: header;
  align-self: center;
}

.coachSectionParagraph {
  grid-area: paragraph;
  white-space: pre-wrap;
  line-height: 1.1;
  text-align: center;
  font-size: 17px;
  padding: 0px 10vw;
  align-self: center;
}
@media (min-width: 61.25em) {
  .coachSectionParagraph {
    padding: 0px 7vw;
    font-size: 19px;
  }
}
@media (min-width: 81.25em) {
  .coachSectionParagraph {
    padding: 0px 100px;
  }
}

.CoachSection::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background: black;
  background: linear-gradient(0deg, rgb(0, 0, 0) 5%, rgba(0, 0, 0, 0) 20%);
}

#RegisterSection {
  max-width: 2500px;
  min-height: 667px;
  min-width: 375px;
}
#RegisterSection .layer {
  display: grid;
  grid-template-rows: 1fr 55px min-content min-content 1fr;
  grid-template-areas: "." "header" "paragraph" "form" ".";
}

.RegisterSection {
  color: white;
  background: #707070;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.RegisterSection img {
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100vh;
}
.RegisterSection .layer {
  justify-items: unset;
}

.RegisterSection::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background: black;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%, rgb(0, 0, 0) 100%);
}

.registerHeaderWrapper {
  width: -moz-fit-content;
  width: fit-content;
  grid-area: header;
}
.registerHeaderWrapper h2 {
  font-size: clamp(18px, 7vw, 40px);
  text-transform: uppercase;
}

.registerParagraph {
  margin-top: 20px;
  margin-bottom: 50px;
  padding-top: 20px;
  width: 70%;
  text-align: center;
  font-size: clamp(15px, 3vw, 17px);
  grid-area: paragraph;
}

.hadAccount {
  margin-left: auto;
  margin-right: auto;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  margin-top: 30px;
  color: white;
}
.hadAccount a {
  text-decoration: none;
  color: rgb(68, 106, 177);
  font-weight: 600;
  margin-left: 10px;
  text-decoration: underline;
}
.hadAccount a:hover {
  color: rgb(86, 130, 213);
}

.contentPage {
  position: relative;
  display: block;
  height: 100%;
  background: rgb(29, 29, 29);
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  grid-template-areas: "contentHeader" "filterBolts" "filter" "content";
  grid-template-rows: min-content min-content min-content 1fr;
  grid-template-columns: 1fr;
}

.verticalText {
  z-index: 0;
  position: fixed;
  color: rgba(253, 246, 246, 0.057);
  text-transform: uppercase;
  transform: rotate(90deg) translateY(0px);
  overflow: hidden;
  font-weight: 900;
  font-size: 200px;
  top: 790px;
  left: -460px;
  cursor: default;
}

.filteredContent {
  grid-area: content;
  position: relative;
  width: 100%;
  padding-top: 25px;
  padding-left: 4px;
  padding-right: 4px;
  z-index: 1;
}

.Login {
  position: relative;
  max-width: 2500px;
  overflow-x: hidden;
  min-height: 667px;
  min-width: 375px;
}
.Login img {
  position: absolute;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.loginFormWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
.loginFormWrapper form {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: -moz-min-content;
  width: min-content;
  display: grid;
  grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "subtitle" "username" "password" "button" "link" "link2";
  align-items: center;
  justify-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (min-width: 47.5em) {
  .loginFormWrapper form {
    grid-template-rows: min-content min-content min-content min-content min-content;
    grid-template-columns: min-content min-content;
    grid-template-areas: "header header" "subtitle subtitle" "username password" "button button" "link link" "link2 link2";
  }
}

.changeFormWrapper {
  position: absolute;
  display: none;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.changeFormWrapper form {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: -moz-min-content;
  width: min-content;
  display: grid;
  grid-template-rows: min-content min-content min-content min-content min-content min-content;
  grid-template-columns: min-content;
  grid-template-areas: "header" "subtitle" "email" "button" "link1" "link2";
  align-items: center;
  justify-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.registrationFormWrapper {
  display: none;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.registrationFormWrapper .registerFormWrapper {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content min-content min-content;
  grid-template-areas: "header" "subtitle" "registerForm" "link1" "link2";
  max-width: 660px;
}
.registrationFormWrapper .registerFormWrapper .headerWrapper {
  margin-left: auto;
  margin-right: auto;
}
.registrationFormWrapper .registerFormWrapper .loginRegisterForm {
  grid-area: registerForm;
  width: unset;
}
.registrationFormWrapper .registerFormWrapper .loginLink {
  margin-left: auto;
  margin-right: auto;
}

.headerWrapper {
  color: white;
  white-space: nowrap;
  margin-bottom: 10px;
  grid-area: header;
}

.subtitle {
  grid-area: subtitle;
  color: white;
  margin-bottom: 30px;
  font-size: 17px;
  justify-self: center;
}

.usernameInput {
  width: 300px !important;
  grid-area: username;
}
@media (min-width: 29.375em) {
  .usernameInput {
    width: 400px !important;
  }
}
@media (min-width: 47.5em) {
  .usernameInput {
    width: 320px !important;
  }
}

.passwordInput {
  width: 300px !important;
  grid-area: password;
}
@media (min-width: 29.375em) {
  .passwordInput {
    width: 400px !important;
  }
}
@media (min-width: 47.5em) {
  .passwordInput {
    width: 320px !important;
  }
}

.loginLink {
  color: white;
  cursor: pointer;
  text-decoration: underline;
  font-size: 15px;
  margin-top: 30px;
  grid-area: link;
  transition: color 150ms ease-out;
}
@media (min-width: 29.375em) {
  .loginLink {
    font-size: 17px;
  }
}

.loginLink:hover {
  color: rgb(86, 130, 213);
}

.changeLink {
  grid-area: link;
}

.loginRedirectLink {
  grid-area: link1;
}

.registerLink {
  grid-area: link2;
}

.loginFormButton {
  margin-top: 0px !important;
  grid-area: button;
}

.changeInput {
  width: 350px !important;
  grid-area: email;
}
@media (max-width: 26.875em) {
  .changeInput {
    width: 320px !important;
  }
}
@media (min-width: 30.625em) {
  .changeInput {
    width: 400px !important;
  }
}

.changeSubmitFormButton {
  margin-top: 0px !important;
  grid-area: button;
}

#Dashboard {
  position: relative;
  display: block;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  background: rgb(29, 29, 29);
  padding-top: 60px;
  padding-bottom: 60px;
}

.glassMorphism {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  box-shadow: inset 4px 4px 5px 0 rgba(126, 126, 126, 0.25), inset -4px -4px 5px 0 rgba(10, 10, 10, 0.125), 0 0 10px 1px rgba(0, 0, 0, 0.25);
  background-color: rgba(67, 68, 69, 0.25);
  border-radius: 12px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.dashBoardSection {
  color: white;
  padding: 38px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  position: relative;
  margin-top: 50px;
}
@media (min-width: 56.25em) {
  .dashBoardSection {
    max-width: 1000px;
    min-width: 800px;
  }
}

.dashBoardTable h2 {
  font-size: 25px;
  margin: 0px 0px 10px 0px;
  text-transform: uppercase;
  text-align: center;
}
.dashBoardTable td {
  padding: 2px 15px;
}
.dashBoardTable table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-collapse: collapse;
  width: 100%;
}
.dashBoardTable .rowHeader td {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 10px;
}
.dashBoardTable .actionData {
  display: flex;
  justify-content: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
  width: -moz-fit-content;
  width: fit-content;
}

.record {
  transition: background 0.25s ease-out;
}

.record td:first-child {
  min-width: 180px;
}

.record:hover {
  background: rgba(255, 255, 255, 0.266);
}

.userInfoSection {
  display: grid;
  grid-template-areas: "userImg" "userInf";
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr;
}
@media (min-width: 56.25em) {
  .userInfoSection {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content;
    grid-template-areas: "userInf userImg";
  }
}
.userInfoSection tbody:last-child .rowHeader h1 {
  margin-top: 20px;
}
.userInfoSection table {
  grid-area: userInf;
  border-collapse: collapse;
  width: 100%;
}
.userInfoSection .rowHeader h1 {
  font-size: 18px;
  margin: 0px 0px 10px 0px;
  text-transform: uppercase;
}
@media (max-width: 56.25em) {
  .userInfoSection .rowHeader h1 {
    text-align: center;
  }
}
.userInfoSection .rowData td {
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 10px;
}
.userInfoSection .rowData td:first-child {
  width: 100%;
}
@media (min-width: 56.25em) {
  .userInfoSection .rowData td:first-child {
    min-width: 230px;
    width: unset;
  }
}
.userInfoSection .rowData td:nth-child(2) div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 180px;
}
.userInfoSection .rowData td:nth-child(2) .react-tooltip {
  text-overflow: unset;
  white-space: unset;
  overflow: unset;
  max-width: unset;
}
@media (max-width: 56.25em) {
  .userInfoSection .buttonTableData {
    padding-left: 10px;
  }
}
@media (max-width: 56.25em) {
  .userInfoSection .editableTableData {
    min-width: 150px;
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.userImage {
  grid-area: userImg;
  position: relative;
  justify-self: center;
  align-self: center;
}
@media (max-width: 56.25em) {
  .userImage {
    margin-bottom: 38px;
  }
}
.userImage path {
  fill: white;
}

.userLikesList tbody:last-child h2 {
  margin-top: 38px;
}

.userRecordList .numberData {
  text-align: center;
}

.addButtonRow {
  padding-top: 25px !important;
}

#Modify {
  position: relative;
  display: block;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  background: rgb(29, 29, 29);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 32.5em) {
  #Modify {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.modify {
  color: white;
}
.modify .sectionHeader {
  font-size: 25px;
  margin: 0px 0px 10px 0px;
  text-transform: uppercase;
}
.modify .sectionSubHeader {
  font-size: 20px;
  margin: 0px 0px 10px 0px;
  text-transform: uppercase;
}

.modifySection {
  margin-top: 35px;
  margin-bottom: 35px;
  position: relative;
  padding: 38px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}
@media (max-width: 53.125em) {
  .modifySection {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 32.5em) {
  .modifySection {
    width: 100%;
  }
}
@media (max-width: 32.5em) {
  .modifySection {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.disabledModifySelect .selectWrapper {
  cursor: default;
  background: rgb(43, 43, 43) !important;
  border: 1px solid rgb(175, 175, 175);
}

.contactSection {
  padding-top: 60px;
}

.contactInputs {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -moz-column-gap: 35px;
       column-gap: 35px;
  row-gap: 5px;
}
@media (max-width: 53.125em) {
  .contactInputs {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.socialNetworks {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -moz-column-gap: 35px;
       column-gap: 35px;
  row-gap: 5px;
}
@media (max-width: 53.125em) {
  .socialNetworks {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}

.termsSection {
  padding-top: 60px;
}
.termsSection .termsInputs {
  margin-top: 20px;
}
.termsSection .termsLinks {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content min-content;
  -moz-column-gap: 15px;
       column-gap: 15px;
  margin-top: 5px;
}
.termsSection .termsLinks * {
  white-space: nowrap;
  text-decoration: none;
  color: rgb(68, 106, 177);
  font-weight: 600;
  transition: color 0.25s ease;
}
.termsSection .termsLinks *:hover {
  color: rgb(86, 130, 213);
  text-decoration: underline;
}

.coachInformationSection {
  padding-top: 60px;
}

.filterInformationInputs {
  margin-top: 20px;
}

.coachInformationInputs {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1r 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "coachName coachSurname" "alias alias" "workPlace workPlace" "regionSelect regionSelect" "townSelect townSelect" "street houseNumber";
  -moz-column-gap: 35px;
       column-gap: 35px;
}
.coachInformationInputs .coachName {
  grid-area: coachName;
}
.coachInformationInputs .coachSurname {
  grid-area: coachSurname;
}
.coachInformationInputs .alias {
  grid-area: alias;
}
.coachInformationInputs .workPlace {
  grid-area: workPlace;
}
.coachInformationInputs .regionSelect {
  grid-area: regionSelect;
}
.coachInformationInputs .townSelect {
  grid-area: townSelect;
}
.coachInformationInputs .street {
  grid-area: street;
}
.coachInformationInputs .houseNumber {
  grid-area: houseNumber;
}

.inputWithText p {
  margin-bottom: 10px;
}

.infoSelect .selectWrapper {
  min-width: unset;
  box-shadow: none;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.253);
}
.infoSelect .selectAllWrapper {
  width: 100%;
  height: 60px;
}
.infoSelect .selectLabel {
  height: 60px;
  font-size: 18px;
  align-items: center;
}
.infoSelect .selectWrapperHovered {
  background: rgb(75, 75, 75) !important;
}
.infoSelect .optionsWrapper {
  background: rgb(75, 75, 75) !important;
}

.aboutSection {
  padding-top: 60px;
}
.aboutSection .aboutWrapperClass {
  margin-top: 20px;
}

.picturesSection .pictureInputs,
.picturesSection .otherInput,
.picturesSection .cardInput {
  margin-top: 20px;
}
.picturesSection .cardInput {
  margin-bottom: 20px;
}

.menu {
  max-width: 2500px;
  display: grid;
  width: 100%;
  min-width: 360px;
  grid-template-columns: 15px 1fr min-content 1fr 25px;
  grid-template-areas: ". . logo hamburger .";
  height: 60px;
  background-color: black;
  background: linear-gradient(180deg, rgb(0, 0, 0) 21%, rgba(0, 0, 0, 0.24) 100%);
  position: fixed;
  top: 0px;
  z-index: 1;
}
@media (max-width: 156.25em) {
  .menu {
    width: 100vw;
  }
}
@media (min-width: 47.5em) {
  .menu {
    grid-template-columns: 15px min-content 1fr min-content 15px;
    grid-template-areas: ". logo . menuOffer .";
  }
}

#hamburger-wrapper {
  opacity: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
  display: none;
  grid-template-rows: 10px 10px 10px;
  grid-template-areas: "slice1" "slice2" "slice3";
}
#hamburger-wrapper .slice {
  height: 5px;
  border-radius: 5px;
}
#hamburger-wrapper .slice:nth-child(1) {
  grid-area: slice1;
}
#hamburger-wrapper .slice:nth-child(2) {
  grid-area: slice2;
}
#hamburger-wrapper .slice:nth-child(3) {
  grid-area: slice3;
}

#menuOffer {
  display: grid;
  grid-auto-flow: column;
}

.offerItem {
  cursor: pointer;
  white-space: nowrap;
  display: grid;
  opacity: 0;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  align-self: center;
  justify-self: center;
  color: white;
  height: 100%;
  align-items: center;
}
.offerItem p {
  text-decoration: none;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.offerItem:hover {
  background-color: rgba(114, 114, 114, 0.733);
}

.loginButton svg {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.loginButton svg > path {
  stroke: white;
  stroke-width: 1px;
}

#menuLayer {
  z-index: 0;
  width: 0%;
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas: "." "layerItems" ".";
}
#menuLayer #menuOfferItems-wrapper {
  grid-area: layerItems;
  display: grid;
  align-content: center;
  justify-content: center;
}
#menuLayer #menuOfferItems-wrapper .offerItem-layer {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  width: 80vw;
  border-top: white 1px solid;
}
#menuLayer #menuOfferItems-wrapper .offerItem-layer:last-child {
  border-bottom: white 1px solid;
}

.logoGrid {
  grid-area: logo;
}

.menuOfferGrid {
  grid-area: menuOffer;
}

.hamburgerGrid {
  grid-area: hamburger;
}

.logo-wrapper {
  cursor: pointer;
  display: flex;
  z-index: 1;
}

#smallLogo {
  cursor: pointer;
  overflow: visible;
  margin-right: 10px;
}
#smallLogo .logoPath {
  fill: white;
  opacity: 0;
}

#smallText {
  cursor: pointer;
  overflow: visible;
}
#smallText .logoText {
  opacity: 0;
}

.pageButton {
  line-height: unset;
  outline: none;
  border: none;
  border-width: 0px;
  background-color: transparent;
}

.pageButton:disabled {
  cursor: default;
}
.pageButton:disabled .buttonInitial {
  background-color: rgb(83, 83, 83);
  color: rgb(168, 168, 168);
}

.buttonInitial {
  cursor: pointer;
  width: 180px;
  color: white;
  background-color: rgb(38, 62, 105);
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  line-height: 55px;
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  overflow: hidden;
}

.buttonHover {
  background-color: rgb(10, 21, 88);
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  margin: 0px;
  border: none;
  overflow: hidden;
}

.filterButton {
  border-radius: 7px;
  margin: 0px;
  border-width: 0px;
  grid-area: filter;
  margin: 5px;
  transition: transform 200ms ease-out;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.filterButton div {
  width: 100%;
  height: 45px;
  line-height: 45px;
}

.filterButton:hover {
  transform: translate(-2px, -2px);
}

.layer {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.623);
}

.footer {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 47.49em) {
  .footer section {
    left: unset;
    transform: unset;
  }
}
@media (min-width: 47.5em) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 60px;
    grid-template-areas: "section1 section2 section3" "copyright copyright copyright";
    align-items: start;
  }
}

.followUs {
  margin-top: 25px;
}
@media (min-width: 47.5em) {
  .followUs {
    grid-area: section1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.followUs h3 {
  white-space: nowrap;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: default;
}
.followUs .underliner {
  margin-top: 5px;
}
.followUs .logoWrapper {
  width: auto;
  display: flex;
  justify-content: center;
}

.linkCol {
  margin-top: 25px;
}
.linkCol h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: default;
}
.linkCol .underliner {
  margin-top: 5px;
}
.linkCol .link {
  margin: 2px 0px;
  font-size: 0.9rem;
}
.linkCol .footerLinkWrapper .underliner {
  margin-top: 0px;
  height: 1px;
}
.linkCol .footerLinkWrapper:hover .underliner {
  width: 90% !important;
  transition-property: width;
  transition-duration: 0.5s;
  transform-origin: center;
  transition-timing-function: ease-out;
}
@media (min-width: 81.25em) {
  .linkCol {
    margin-right: auto;
  }
}

.copyRight {
  margin-top: 25px;
  margin-bottom: 10px;
}
@media (min-width: 47.5em) {
  .copyRight {
    grid-area: copyright;
    margin-left: auto;
    margin-right: auto;
  }
}
.copyRight a {
  font-size: 0.7rem;
  text-decoration: none;
  color: white;
}

.other {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 47.5em) {
  .other {
    grid-area: section2;
  }
}

.gymtour {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 47.5em) {
  .gymtour {
    grid-area: section3;
  }
}

.loginHeader {
  margin-bottom: 10px;
  margin-top: 10px;
}

.icon {
  margin: 0px 10px;
  margin-bottom: 15px;
  cursor: pointer;
  position: relative;
  overflow: visible;
}
.icon div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: background 250ms ease-out;
}
.icon path {
  fill: white;
  transition: fill 250ms ease-out;
}

.icon:nth-child(1) {
  width: 22px;
  height: 23px;
}
.icon:nth-child(1) svg {
  right: 1px !important;
}

.icon:nth-child(1):hover div {
  background: white;
  width: 15px;
  height: 20px;
}
.icon:nth-child(1):hover path {
  fill: rgb(8, 121, 233);
  transition: fill 250ms ease-out;
}

.icon:nth-child(2) {
  height: 23px;
  border-radius: 50%;
}

.icon:nth-child(2):hover div {
  background: white;
  width: 15px;
  height: 20px;
}
.icon:nth-child(2):hover path {
  fill: rgb(255, 0, 0);
  transition: fill 250ms ease-out;
}

.icon:nth-child(3) {
  width: 23px;
  height: 23px;
  border-radius: 4px;
}

.icon:nth-child(3):hover div {
  background: white;
  width: 18px;
  height: 20px;
}
.icon:nth-child(3):hover path {
  fill: unset;
  transition: fill 250ms ease-out;
}

.underliner {
  height: 3px;
  background: white;
  border-radius: 2px;
  position: relative;
  margin: 10px auto;
}

.submitButton {
  width: 100%;
  padding: 20px 0px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(38, 62, 105);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.submitButton:hover {
  background: rgb(10, 21, 88);
  transition-property: background;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}

.submitButton:active {
  background: rgb(38, 62, 105);
  transition-property: background;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.rootModalClass {
  background: rgba(0, 0, 0, 0.477);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.modalClass {
  min-width: 340px;
  width: 60%;
  max-width: 480px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgba(52, 52, 52, 0.774);
  color: white;
}

.buttonClass {
  opacity: 0;
  background: rgb(38, 62, 105);
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  height: 45px;
}
.buttonClass span {
  line-height: unset;
}

.buttonClass:hover {
  background: rgb(10, 21, 88);
  transition-property: background;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}

.modalTextClass {
  opacity: 0;
  white-space: pre-wrap;
  text-align: center;
  padding-bottom: 20px;
}

.modalHeader {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.successHeader {
  text-transform: uppercase;
  opacity: 0;
  margin-top: 20px;
  margin-bottom: 15px;
}

.errorHeader {
  text-transform: uppercase;
  opacity: 0;
  margin-top: 20px;
  margin-bottom: 15px;
}

.circleContainer {
  display: block;
  margin: auto;
}
.circleContainer circle {
  stroke-dasharray: 202;
  stroke-dashoffset: 202;
}

.successContainer {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  position: absolute;
}
.successContainer path {
  stroke-dasharray: 91.6324386597;
  stroke-dashoffset: 91.6324386597;
}

.errorCrossContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.errorCrossContainer line {
  stroke-dasharray: 36.5325737;
  stroke-dashoffset: 36.5325737;
}

.questionMarkContainer .modalCircle {
  stroke-dasharray: 2088.9226074219;
  stroke-dashoffset: 2088.9226074219;
}

.questionHeader {
  margin-top: 15px;
}

.modalButtonRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.modalButtonRow button {
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  height: 45px;
}

.modalSubmitButton {
  background: rgb(38, 62, 105);
  transition: background 0.2s ease-out;
}

.modalSubmitButton:hover {
  background: rgb(10, 21, 88);
}

.modalBackButton {
  background: rgb(224, 215, 215);
  color: #292727 !important;
  transition: background 0.2s ease-out;
}

.modalBackButton:hover {
  background: rgb(255, 255, 255);
}

.loadingWrapper {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: flex-end;
}

.loadingLine {
  position: relative;
  bottom: 0px;
  background: white;
  margin-left: 1px;
  width: 3px;
  height: 2px;
}

.searchItem {
  width: 300px !important;
  height: 250px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  background: rgb(138, 138, 138) !important;
  overflow: hidden !important;
}

.popularityCounter .popularityImgWrapper {
  height: 20px;
  width: -moz-min-content;
  width: min-content;
}
.popularityCounter .popularityImgWrapper .heart {
  fill: rgb(196, 196, 196);
}
.popularityCounter p {
  color: white;
  font-weight: 600;
  font-size: 0.8em;
}

.toppedImgWrapper {
  height: 22px;
}

.itemBar {
  height: 60px;
  background: rgba(0, 0, 0, 0.475);
  border-radius: 0 0 5px 5px;
}
.itemBar h3 {
  font-size: 1.2em;
  color: white;
  margin-left: 15px;
  line-height: 1 !important;
  overflow-wrap: break-word;
}
.itemBar .viewsCounter {
  color: white;
  font-weight: 500;
  font-size: 1em;
}

.searchImg {
  width: auto;
  height: 100%;
  background-position: center;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  background-repeat: no-repeat;
}

.checkboxHelper {
  font-size: 0.8em;
  height: 23px;
}

.checkboxClass {
  width: 18px;
  height: 18px;
  border-color: rgb(186, 186, 186);
}

.checkerClass {
  background: rgb(60, 97, 164);
}

.contentHeader {
  grid-area: contentHeader;
  padding-top: 40px;
  position: relative;
  width: 100%;
}

.bigLogoContentHeader {
  position: relative;
  opacity: 0.3;
  left: 50%;
  transform: translateX(-50%);
}
.bigLogoContentHeader path {
  fill: white;
}

.contentHeaderWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.contentHeaderWrapper h1 {
  margin: 0px;
  opacity: 0;
  text-transform: uppercase;
  font-size: 65px;
  line-height: 65px;
  color: white;
  position: relative;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}
.contentHeaderWrapper h1:first-child {
  width: -moz-fit-content;
  width: fit-content;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
}
.contentHeaderWrapper h1:last-child {
  width: -moz-fit-content;
  width: fit-content;
  left: 55%;
  top: 38%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  color: rgba(255, 255, 255, 0.306);
}

.contentHeaderWrapper:hover h1:first-child {
  top: 48%;
  left: 40%;
}
.contentHeaderWrapper:hover h1:last-child {
  top: 40%;
  left: 60%;
}

.bulletWrapper {
  border: 1px solid black;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.25s ease-out;
}
.bulletWrapper input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
.bulletWrapper .bulletText {
  padding: 10px 15px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background: rgb(87, 87, 87);
  transition: background 0.25s ease-out;
}
.bulletWrapper .bulletText::first-letter {
  text-transform: uppercase;
}

.bulletWrapper:hover {
  transform: translate(-1px, -1px);
}
.bulletWrapper:hover .bulletText {
  background: rgb(77, 76, 76);
}

.bulletActiweWrapper .bulletText {
  background: rgb(44, 86, 171);
}

.bulletActiweWrapper:hover .bulletText {
  background: rgb(53, 99, 185);
}

.selectAllWrapper {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
}

.selectWrapperHovered {
  background: rgb(51, 51, 51) !important;
}

.selectWrapper {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 150px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background: rgb(57, 57, 57);
  transition: background 0.25s ease-out;
  border-radius: 5px;
  cursor: pointer;
}

.selectCornerSharp {
  border-radius: 5px 5px 0px 0px;
}

.selectLabel {
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-areas: "label arrow";
}
.selectLabel p {
  grid-area: label;
  padding-left: 15px;
}
.selectLabel .arrowWrapper {
  grid-area: arrow;
}

.selectLine {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  height: 70%;
  width: 1px;
  opacity: 0.5;
  background: white;
}

.optionsWrapper {
  background: rgb(51, 51, 51);
  border-radius: 0px 0px 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  width: 100%;
  position: absolute;
  display: none;
  padding: 10px 0px;
}

.show {
  display: block;
  z-index: 100;
}

.optionWrapper {
  opacity: 0;
  padding: 5px 10px;
  transition: background 0.1s ease-in;
}

.optionWrapper:hover {
  background: rgba(255, 255, 255, 0.073);
}

.optionHeader {
  opacity: 0;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: default;
}

.optionCheckboxRoot {
  font-size: 0.8rem;
  margin-left: 5px;
}

.multipleOptionInputWrapper {
  border: 1px solid white;
}

.multipleOptionLabel {
  font-weight: 300;
  margin-left: 8px;
}

.multipleOptionChecker {
  background: rgb(44, 86, 171);
}

.hookInput {
  display: none;
}

.arrowWrapper {
  position: relative;
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
}
.arrowWrapper div {
  width: 8px;
  height: 2px;
  background: white;
  position: absolute;
}
.arrowWrapper .line1 {
  background: white;
  transform: translateX(-2px) rotate(-50deg);
  transition: transform 0.35s ease-out;
  transform-origin: center;
}
.arrowWrapper .line2 {
  background: white;
  transform: translateX(2px) rotate(50deg);
  transition: transform 0.35s ease-out;
  transform-origin: center;
}

.arrowWrapperHover .line1 {
  transform: translateX(-2px) rotate(-130deg);
}
.arrowWrapperHover .line2 {
  transform: translateX(2px) rotate(130deg);
}

.searchBar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "input";
  height: -moz-min-content;
  height: min-content;
  position: relative;
  grid-area: input;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.searchBar input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  height: 37px;
  min-width: 100px;
  background: rgb(57, 57, 57);
  color: white;
  padding-left: 15px;
  padding-right: 30px;
  border-radius: 5px;
}

.searchBarFilled input {
  background: rgb(51, 51, 51);
  border: 1px inset black;
}

.searchBarActive input {
  border: 1px inset rgb(0, 0, 0);
  border-right: 0px;
}

.searchIconWrapper {
  grid-area: input;
  cursor: pointer;
  position: absolute;
  margin-top: 0px;
  height: 37px;
  width: 33px;
  right: 0px;
  background: rgb(24, 24, 24);
  transition: background 0.2s ease-in;
}

.searchIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.7);
}

.searchIconWrapper:hover {
  background: rgb(5, 5, 5);
}

.filterWrapper {
  grid-area: filter;
}

.filterWrapper-fitness {
  display: grid;
  position: relative;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 5px;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "general general others others search search" "regions regions equipment equipment order order" "filter filter filter filter filter filter";
  align-items: center;
}
@media (min-width: 75em) {
  .filterWrapper-fitness {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 43.75em) {
  .filterWrapper-fitness {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "order search" "general others" "equipment regions" "filter filter";
  }
}
@media (max-width: 31.25em) {
  .filterWrapper-fitness {
    grid-template-columns: 1fr;
    grid-template-areas: "search" "order" "general" "others" "equipment" "regions" "filter";
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (min-width: 75em) {
  .filterWrapper-fitness {
    grid-template-areas: "general others equipment regions order search" "filter filter filter filter filter filter";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 300px;
  }
}
.filterWrapper-fitness .selectAllWrapper {
  width: 100%;
}
.filterWrapper-fitness .selectAllWrapper .selectWrapper {
  width: inherit;
}
.filterWrapper-fitness .selectAllWrapper .optionsWrapper {
  width: inherit;
}

.filterActiveBoltsSection {
  grid-area: filterBolts;
  position: relative;
  display: flex;
  gap: 5px;
  flex-direction: row;
  padding-bottom: 10px;
  max-width: 1200px;
  min-height: 50px;
  flex-wrap: wrap;
}
@media (min-width: 75em) {
  .filterActiveBoltsSection {
    left: 50%;
    transform: translateX(-50%);
  }
}

.regions {
  position: relative;
  margin: 5px;
  grid-area: regions;
}

.general {
  position: relative;
  margin: 5px;
  grid-area: general;
}

.equipment {
  position: relative;
  margin: 5px;
  grid-area: equipment;
}

.others {
  position: relative;
  margin: 5px;
  grid-area: others;
}

.searchBar {
  position: relative;
  margin: 5px;
  grid-area: search;
}

.order {
  position: relative;
  margin: 5px;
  grid-area: order;
}

.specialization {
  position: relative;
  margin: 5px;
  grid-area: specialization;
}

.gender {
  position: relative;
  margin: 5px;
  grid-area: gender;
  display: flex;
}
.gender .bulletWrapper {
  width: 100%;
}
.gender .bulletWrapper .bulletText {
  text-align: center;
}
.gender .bulletWrapper:first-of-type {
  margin-left: 0px;
}
.gender .bulletWrapper:last-of-type {
  margin-right: 0px;
}

.filterWrapper-coach {
  display: grid;
  position: relative;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 5px;
  max-width: 1200px;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "regions order  search" "gender  specialization others" ". filter .";
}
@media (min-width: 75em) {
  .filterWrapper-coach {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 43.75em) {
  .filterWrapper-coach {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "search search" "gender gender" "order regions" "specialization others" "filter filter";
  }
}
.filterWrapper-coach .selectAllWrapper {
  width: 100%;
}
.filterWrapper-coach .selectAllWrapper .selectWrapper {
  width: inherit;
}
.filterWrapper-coach .selectAllWrapper .optionsWrapper {
  width: inherit;
}

.selectOption {
  cursor: pointer;
  padding-left: 15px;
}

.bolt {
  opacity: 1;
  cursor: pointer;
  color: white;
  background: #111111;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  transition: background 0.2s ease-in-out, width 0.2s ease-in-out;
  transition-delay: 450ms;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.bolt:hover {
  background: black;
  transition: background 0.2s ease-in-out;
}

.boltCrossWrapper {
  display: none;
  margin-top: 1px;
  position: relative;
  width: 0px;
  height: 0px;
}

.boltCrossWrapper::before {
  content: "";
  background: rgba(255, 255, 255, 0);
  transition: background 0.3s ease-in-out;
}

.boltCrossWrapper:hover::before {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  content: "";
  background: rgba(255, 255, 255, 0.193);
  transition: background 0.3s ease-in-out;
  width: 20px;
  height: 20px;
}

.boltCrossLine {
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  top: 50%;
  left: 50%;
  transform-origin: center;
}

.boltLine1 {
  transform: translate(-50%, -50%) rotate(-45deg);
  border-radius: 2px;
}

.boltLine2 {
  transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 2px;
  width: 50%;
}

.contentCard {
  cursor: pointer;
  position: relative;
  background: rgb(51, 51, 51);
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 16px 16px;
}

.imgSection {
  position: absolute;
  width: 100%;
  height: 100%;
}
.imgSection .loading {
  top: 45%;
}

.infoSection {
  width: 100%;
  height: 45px;
  bottom: 0px;
  left: 0px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr min-content;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background: rgba(0, 0, 0, 0.573);
}

.infoElement {
  position: relative;
  margin: auto;
}

.infoNumber {
  position: relative;
  font-size: 12px;
  line-height: 12px;
  color: white;
}

.likeNumber {
  top: 16px;
  padding-left: 4px;
}

.viewNumber {
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 5px;
}

.heartWrapper {
  padding-left: 10px;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.heartWrapper svg {
  position: relative;
  top: 13px;
}

.cardNameWrapper {
  width: 100%;
  line-height: 45px;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.topped {
  position: absolute;
  right: 13px;
  top: 13px;
  cursor: pointer;
}

.viewed {
  color: white;
  position: absolute;
  left: 5px;
  top: 4px;
  opacity: 0;
  transition: opacity 0.4s ease-out, top 0.4s ease-out;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.viewed path {
  fill: white;
}

.heart {
  cursor: pointer;
  stroke: #c41111;
  stroke-width: 2px;
  fill: rgba(0, 0, 0, 0);
  transition: stroke 250ms ease-out;
}
.heart path {
  transition: fill 250ms ease-out;
}

.heart:hover {
  stroke: #ff1b1b;
}
.heart:hover path {
  fill: #ff1b1b;
}

.filledHeart path {
  fill: #c41111;
}

.contentCard:hover {
  will-change: transform;
  transform: translate(-2px, -2px);
}
.contentCard:hover .viewed {
  opacity: 1;
  top: 13px;
}

.cardTooltip {
  position: absolute;
  z-index: 100;
  background: rgb(168, 168, 168);
  margin: 0px;
  padding: 3px 10px;
  border-radius: 4px;
}

.popupBase {
  min-width: 350px;
}
.popupBase .lbui-PopUp-header {
  padding-bottom: 8px;
}

.registerFormWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-self: center;
  width: 70%;
  grid-area: form;
}
@media (min-width: 47.5em) {
  .registerFormWrapper {
    width: 85%;
    max-width: 900px;
  }
  .registerFormWrapper #registerForm {
    display: grid;
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 10px;
    grid-template-rows: 1fr 1fr min-content 1fr min-content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "input1 input2" "input3 input3" "formTerms formTerms" "button button" "loginLink loginLink";
  }
  .registerFormWrapper .input1 {
    grid-area: input1;
  }
  .registerFormWrapper .input2 {
    grid-area: input2;
  }
  .registerFormWrapper .input3 {
    grid-area: input3;
  }
  .registerFormWrapper .hadAccount {
    grid-area: loginLink;
  }
}

.formTerms {
  color: white;
  grid-area: formTerms;
}
@media (min-width: 47.5em) {
  .formTerms {
    width: 320px;
    font-size: 15px;
  }
}

@media (min-width: 47.5em) {
  .registerFormButton {
    grid-area: button;
  }
}

.helperTooltip {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: min-content min-content;
}

.infoIcon {
  align-self: center;
  margin-left: 5px;
  cursor: pointer;
}
.infoIcon path {
  fill: rgb(228, 228, 228);
  stroke-width: 1px;
  stroke: black;
}

.requiredStar {
  position: absolute;
  top: 5px;
  right: 10px;
  color: rgb(233, 91, 106);
  font-size: 22px;
}

.inputWrapper {
  width: 100%;
}

.stringInputHelperRoot {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}

.stringInputRoot {
  position: relative;
  width: inherit;
}
.stringInputRoot input {
  caret-color: white;
  color: white;
  cursor: pointer;
  height: 60px;
  width: inherit;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.253);
}

.stringInputRoot:hover label {
  color: white;
}
.stringInputRoot:hover .stringInputLabelError {
  color: red;
}

.stringInputRootFocused label {
  background: rgba(123, 123, 123, 0.128);
}
.stringInputRootFocused input {
  outline-color: rgba(255, 255, 255, 0.5) !important;
}

.stringInputLabel {
  cursor: pointer;
  color: white;
  background: rgba(255, 255, 255, 0);
}

.stringInputHelper {
  font-size: 0.8em;
  height: 23px;
}

.stringFocusRootError input {
  outline-color: red !important;
  outline-width: 1px !important;
}
.stringFocusRootError label {
  font-size: 14px !important;
  color: white !important;
}

.stringInputLabelError {
  color: red;
  font-size: 16px;
}

.stringInputError {
  border: 1px solid red;
}

.priceLevelWrapper {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.priceLevelWrapper .dollar {
  cursor: pointer;
}
.priceLevelWrapper .dollar path {
  fill: rgb(92, 92, 92);
  transition: fill 0.15s ease-out;
}
.priceLevelWrapper .dollarActive path {
  fill: white;
}

.textAreaInput {
  padding: 10px;
  width: 100%;
  position: relative;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.253);
  color: white;
  outline: 1px solid rgba(0, 0, 0, 0.541);
  transition: outline 0.15s ease-out;
}

.textAreaInputActive {
  outline-color: rgba(255, 255, 255, 0.5);
  outline-width: 2px;
}

.textAreaInput::-moz-placeholder {
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.textAreaInput::placeholder {
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.disableResize {
  resize: none;
}

.imageBtnWrapper {
  position: relative;
  width: -moz-min-content;
  width: min-content;
}
.imageBtnWrapper .imageInput {
  border: unset;
  margin: unset;
  padding: unset;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgb(61, 61, 61);
  cursor: pointer;
  position: relative;
}
.imageBtnWrapper .imageInput .imgLine {
  width: 50%;
  height: 5px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 3px;
  transform: translate(-50%, -50%);
}
.imageBtnWrapper .imageInput .imgLine:first-of-type {
  transform: translate(-50%, -50%) rotate(90deg);
}
.imageBtnWrapper .preview {
  cursor: pointer;
  opacity: 0;
  top: calc(100% - 22px);
  left: calc(100% - 22px);
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(38, 62, 105);
  transition: background 0.15s ease-in, opacity 0.15s ease-in;
}
.imageBtnWrapper .preview .search {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.5);
}
.imageBtnWrapper .preview:hover {
  background: rgb(52, 84, 143);
}
.imageBtnWrapper .hidden {
  display: none;
}

.imagePreview {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.885);
  z-index: 1000;
  top: 0px;
}
.imagePreview .image {
  aspect-ratio: 1/1;
  z-index: 1000;
  max-height: 80%;
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imagePreview .previewCancel {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  margin: 0px;
  width: 45px;
  height: 45px;
}
.imagePreview .previewCancel line {
  stroke-dasharray: none !important;
  stroke-dashoffset: unset !important;
}

.multipleImageInput {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.showEditButton {
  opacity: 1 !important;
}

.showEditButton:hover {
  background: white !important;
}

.hoverableEditableTableRow {
  transition: background 0.25s ease-out;
}
.hoverableEditableTableRow .editButton {
  opacity: 1;
}
.hoverableEditableTableRow .buttonTableData {
  display: grid;
  grid-template-columns: 18px 18px;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.hoverableEditableTableRow:hover {
  background: rgba(255, 255, 255, 0.266);
}

/*
.hoverableEditableTableRow:hover {
  .editButton {
    transition: opacity 150ms ease-in, background 150ms ease-in, fill 150ms ease-in;
    opacity: 1;
  }
}
*/
.editableTableDataInput {
  position: relative;
  padding-left: 5px;
  width: 98%;
}

.hideEditableTableDataInput {
  display: none;
}

.sucessButtonIcon {
  position: unset;
  left: unset;
  top: unset;
  transform: unset;
}
.sucessButtonIcon path {
  stroke-dasharray: none;
  stroke-dashoffset: unset;
}

.editButton,
.succesButton {
  position: relative;
  display: flex;
  width: 18px;
  height: 18px;
  justify-content: center;
  align-items: center;
  margin: 0px;
  cursor: pointer;
  border: none;
  border-radius: unset;
  background: none;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  box-shadow: inset 4px 4px 5px 0 rgba(126, 126, 126, 0.25), inset -4px -4px 5px 0 rgba(10, 10, 10, 0.125), 0 0 10px 1px rgba(0, 0, 0, 0.25);
  background-color: rgba(67, 68, 69, 0.25);
  border-radius: 3px;
  background: white;
}

.editButton {
  transition: opacity 150ms ease-in, background 100ms ease-in, fill 100ms ease-in;
  transition-delay: 150ms;
}

.editButton:hover {
  background: rgb(38, 62, 105);
  fill: white;
}

.editIcon {
  position: relative;
}

.cancelButtonIcon line {
  stroke-dasharray: none;
  stroke-dashoffset: unset;
}

.editCrossButton {
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: unset;
  background: none;
  margin: 0px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  box-shadow: inset 4px 4px 5px 0 rgba(126, 126, 126, 0.25), inset -4px -4px 5px 0 rgba(10, 10, 10, 0.125), 0 0 10px 1px rgba(0, 0, 0, 0.25);
  background-color: rgba(67, 68, 69, 0.25);
  border-radius: 3px;
  background: white;
}/*# sourceMappingURL=index.css.map */