::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  width: 11px;
}
::-webkit-scrollbar:horizontal {
  height: 11px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}
/*BASE - Base Variable file along with starting point Mixins and Placeholders.*/
@import "../Base/mixins";
@import "../Base/variables";

/*FRAMEWORK - Structure and layout files.*/
@import "../Framework/mediaQueries";
@import "../Framework/Layout/layout";
@import "../Framework/modificationClasses";
@import "../Framework/PageTranstition";

/*MODULES - Re-usable site elements.*/

@import "../Modules/Pages/Home";
@import "../Modules/Pages/Crossroad";
@import "../Modules/Pages/ContentPage";
@import "../Modules/Pages/NotFound";
@import "../Modules//Pages/Login";
@import "../Modules/Pages/EmailUpdate";
@import "../Modules/Pages/Dashboard/Dashboard";
@import "../Modules/Pages/Dashboard/Overview";
@import "../Modules/Pages/Dashboard/Settings";
@import "../Modules/Pages/Dashboard/AddItem";

@import "../Modules/menu";
@import "../Modules/logo";
@import "../Modules/button";
@import "../Modules/layer";
@import "../Modules/footer";
@import "../Modules/underliner";
@import "../Modules/submitButton";
@import "../Modules/modal";
@import "../Modules/loading";
@import "../Modules/filterIcon";
@import "../Modules/contetFilter";
@import "../Modules/searchItem";
@import "../Modules/errorModal";
@import "../Modules/priceLevelSection";
@import "../Modules/checkBox";
@import "../Modules/stringInput";
@import "../Modules/contentHeader";
@import "../Modules//bullet";
@import "../Modules//multipleSelect";
