#Dashboard {
  @include standarPage;
  padding-top: 60px;
  padding-bottom: 60px;
}

.glassMorphism {
  @include glassMorphism;
  border-radius: 12px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.dashBoardSection {
  color: $textContrastColor;
  padding: 38px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  position: relative;
  margin-top: 50px;

  @include mq($from: 900px) {
    max-width: 1000px;
    min-width: 800px;
  }
}

.dashBoardTable {
  h2 {
    font-size: 25px;
    margin: 0px 0px 10px 0px;
    text-transform: uppercase;
    text-align: center;
  }
  td {
    padding: 2px 15px;
  }
  table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-collapse: collapse;
    width: 100%;
  }

  .rowHeader {
    td {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      padding-bottom: 10px;
    }
  }

  .actionData {
    display: flex;
    justify-content: center;
    column-gap: 6px;
    width: fit-content;
  }
}

.record {
  transition: background 0.25s ease-out;
}
.record {
  td:first-child {
    min-width: 180px;
  }
}
.record:hover {
  background: rgba(255, 255, 255, 0.266);
}

@import "./userCard";
@import "./userLikesList";
@import "./userRecordList";
