.overview {
  background: $dashboardColor;
  color: $mainColor;
  .text {
    font-weight: 700;
  }
  .infoHolder {
    font-weight: normal;
  }

  .overviewButton {
    .buttonInitial {
      border-radius: 5px;
    }
  }
}

//ID
.infoWrapper:nth-child(1) {
  .id {
    font-weight: bold;
  }
}

.headerWrapper {
  width: min-content;
  h1 {
    margin: 0px;
    line-height: 38px;
  }
  #dashboardUnderliner {
    margin: 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
