.settings {
  background: $dashboardColor;
  color: $mainColor;
  overflow: auto;
  padding-top: 60px;

  .settingsText {
    max-width: 800px;
    padding: 0px 10%;
    text-align: center;
  }

  .headerWrapper {
    width: 100%;
    height: 60px;
    background: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    * {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      cursor: default;
    }
  }

  .inputWrapper {
    width: 300px;
    position: relative;
    margin-bottom: 10px;

    input {
      width: inherit;
      height: 50px;
      padding-left: 10px;
      background-color: rgb(255, 255, 255);
      color: black;
      border: 1px solid black;
      border-radius: 5px;
    }
  }

  .settingsForm {
    max-width: 800px;

    p {
      padding-bottom: 5px;
    }
  }
  .settingsForm:last-of-type {
    padding-bottom: 25px;
  }

  #changePasswordForm {
    @include mq($from: 1200px) {
      .buttonWrapper {
        flex-basis: 100%;
      }
    }
  }

  .settingsFormButton {
    margin-top: 0px;
    background-color: #292727;
    width: min-content;
    padding: 15px 0px;
    min-width: 120px;
  }
  .settingsFormButton:hover {
    background-color: black;
  }
}
